{% extends 'base_view.html' %}
{% load chessboard_filter %}
{% block container %}

<style>
    /* Стили для модального окна */
    .modal {
        display: none; /* По умолчанию скрыто */
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .modal-backdrop {
        display: none !important;
    }

</style>
<button type="button" id="create-modal-btn" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#apartment-modal-create">
    <i class="ti ti-plus icon"></i>Добавить квартиру
</button>
<div class="card">
    <div class="card-body">
        <h1>Дом: {{ building.name }}</h1>
        {% for section in sections %}
            <h3>Секция: {{ section }}</h3>
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>Этаж \ Колонка</th>
                        {% for col in column_range %}
                            <th>Колонка {{ col }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for floor, columns in floors.items %}
                    <tr>
                        <td style="width: 100px; padding: 0; height: 100%;"><strong>{{ floor }} этаж</strong></td>
                        
                        {% for col in column_range %}
                            <td style="width: 100px; padding: 0;">
                                {% if columns|get_item:col %}
                                    {% for apartment in columns|get_item:col %}
                                        
                                        {% if apartment.section == section %}
                                            {% if apartment.status == 'sold' %}
                                            <table class="table-bordered bg-red" style="width: 100%; height: 100%; border-collapse: collapse; table-layout: fixed;" >
                                            {%elif apartment.status == 'reserved' %}
                                            
                                            <table class="table-bordered bg-purple" style="width: 100%; height: 100%; border-collapse: collapse; table-layout: fixed;">
                                            {%elif apartment.status == 'shortReserved' %}
                                            
                                            <table class="table-bordered" style="background-color: #700707; width: 100%; height: 100%; border-collapse: collapse; table-layout: fixed;">
                                            {% else %}
                                            <table class="table-bordered bg-green" style="width: 100%; height: 100%; border-collapse: collapse; table-layout: fixed;" >
                                            {%endif%}                                              
                                                <tr style="height: max-content;">
                                                    <td class="w-8 p-2" style="height: 80px;">
                                                        <a href="#" class="apartment-link text-white" 
                                                            data-id="{{ apartment.id }}" 
                                                            data-number="{{ apartment.number }}" 
                                                            data-area="{{ apartment.area }}"
                                                            data-window-orientation="{{ apartment.window_orientation }}"
                                                            data-rooms="{{ apartment.rooms }}"
                                                            data-apartment-type="{{ apartment.apartment_type }}"
                                                            data-price="{{ apartment.price }}"
                                                            data-status="{{ apartment.status }}"
                                                            data-terrace="{{ apartment.terrace }}"
                                                            data-decoration="{{ apartment.decoration }}"
                                                            data-kitchen-space="{{ apartment.kitchen_space }}"
                                                        >
                                                            №{{ apartment.number }}
                                                        </a>
                                                    </td>
                                                    <td class="w-8 p-2" style="height: 80px;">
                                                        <a href="#" class="apartment-link text-white"
                                                            data-id="{{ apartment.id }}" 
                                                            data-number="{{ apartment.number }}" 
                                                            data-area="{{ apartment.area }}"
                                                            data-window-orientation="{{ apartment.window_orientation }}"
                                                            data-rooms="{{ apartment.rooms }}"
                                                            data-apartment-type="{{ apartment.apartment_type }}"
                                                            data-price="{{ apartment.price }}"
                                                            data-status="{{ apartment.status }}"
                                                            data-terrace="{{ apartment.terrace }}"
                                                            data-decoration="{{ apartment.decoration }}"
                                                            data-kitchen-space="{{ apartment.kitchen_space }}"
                                                        >
                                                            {{ apartment.window_orientation }}
                                                        </a>
                                                    </td>
                                                    <td class="w-8 p-2" style="height: 80px;">
                                                        
                                                        <a href="#" class="apartment-link text-white" 
                                                            data-id="{{ apartment.id }}"
                                                            data-number="{{ apartment.number }}" 
                                                            data-area="{{ apartment.area }}"
                                                            data-window-orientation="{{ apartment.window_orientation }}"
                                                            data-rooms="{{ apartment.rooms }}"
                                                            data-apartment-type="{{ apartment.apartment_type }}"
                                                            data-price="{{ apartment.price }}"
                                                            data-status="{{ apartment.status }}"
                                                            data-terrace="{{ apartment.terrace }}"
                                                            data-decoration="{{ apartment.decoration }}"
                                                            data-kitchen-space="{{ apartment.kitchen_space }}"
                                                        >
                                                            {{ apartment.area }} м²
                                                        </a>
                                                    </td>
                                                    <td class="w-8 p-2" style="height: 80px;"> 
                                                        <div class="position-relative d-inline-block">
                                                            <a href="{% url 'main:apartment_detail' building_id=apartment.building.id apartment_id=apartment.id %}" 
                                                               class="btn btn-sm btn-dark p-1"
                                                               title="Редактировать">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                                                </svg>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="w-8 p-2" style="height: 80px;">
                                                        <a href="#" class="apartment-link text-white" 
                                                            data-id="{{ apartment.id }}"    
                                                            data-number="{{ apartment.number }}" 
                                                            data-area="{{ apartment.area }}"
                                                            data-window-orientation="{{ apartment.window_orientation }}"
                                                            data-rooms="{{ apartment.rooms }}"
                                                            data-apartment-type="{{ apartment.apartment_type }}"
                                                            data-price="{{ apartment.price }}"
                                                            data-status="{{ apartment.status }}"
                                                            data-terrace="{{ apartment.terrace }}"
                                                            data-decoration="{{ apartment.decoration }}"
                                                            data-kitchen-space="{{ apartment.kitchen_space }}"
                                                        >
                                                            {{ apartment.rooms }}к
                                                        </a>
                                                    </td>
                                                    <td class="w-8 p-2" style="height: 80px;">
                                                        <a href="#" class="apartment-link text-white" 
                                                            data-id="{{ apartment.id }}" 
                                                            data-number="{{ apartment.number }}" 
                                                            data-area="{{ apartment.area }}"
                                                            data-window-orientation="{{ apartment.window_orientation }}"
                                                            data-rooms="{{ apartment.rooms }}"
                                                            data-apartment-type="{{ apartment.apartment_type }}"
                                                            data-price="{{ apartment.price }}"
                                                            data-status="{{ apartment.status }}"
                                                            data-terrace="{{ apartment.terrace }}"
                                                            data-decoration="{{ apartment.decoration }}"
                                                            data-kitchen-space="{{ apartment.kitchen_space }}"
                                                        >
                                                            {{ apartment.apartment_type }}
                                                        </a>
                                                    </td>
                                                    <td class="w-8 p-2" style="height: 80px;">
                                                        <a href="#" class="apartment-link text-white" 
                                                            data-id="{{ apartment.id }}" 
                                                            data-number="{{ apartment.number }}" 
                                                            data-area="{{ apartment.area }}"
                                                            data-window-orientation="{{ apartment.window_orientation }}"
                                                            data-rooms="{{ apartment.rooms }}"
                                                            data-apartment-type="{{ apartment.apartment_type }}"
                                                            data-price="{{ apartment.price }}"
                                                            data-status="{{ apartment.status }}"
                                                            data-terrace="{{ apartment.terrace }}"
                                                            data-decoration="{{ apartment.decoration }}"
                                                            data-kitchen-space="{{ apartment.kitchen_space }}"
                                                        >
                                                            {{ apartment.price }}
                                                        </a>
                                                    </td>
                                                    <td class="w-8 p-2" style="height: 80px;">
                                                        <a href="#" class="apartment-link text-white" 
                                                            data-id="{{ apartment.id }}" 
                                                            data-number="{{ apartment.number }}" 
                                                            data-area="{{ apartment.area }}"
                                                            data-window-orientation="{{ apartment.window_orientation }}"
                                                            data-rooms="{{ apartment.rooms }}"
                                                            data-apartment-type="{{ apartment.apartment_type }}"
                                                            data-price="{{ apartment.price }}"
                                                            data-status="{{ apartment.status }}"
                                                            data-terrace="{{ apartment.terrace }}"
                                                            data-decoration="{{ apartment.decoration }}"
                                                            data-kitchen-space="{{ apartment.kitchen_space }}"
                                                        >
                                                            {{ apartment.kitchen_space }}
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        {%endif%}
                                    {% endfor %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
</div>
<div id="apartment-modal" class="modal">
    <form method="post" class="modal-content" id="apartment-form">
        {% csrf_token %}
        {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
        <input type="hidden" name="building_id" value="{{ building.id }}">
        <input type="hidden" name="apartment_id" id="apartment-id" value="-1">
        <div class="modal-header px-0">
            <h5 class="modal-title" id="modalLabel">Детали квартиры</h5>
            <button type="button" class="modal-close btn-close" id="modal-close-top" style="margin-right: 0; margin-left: auto;" data-bs-dismiss="modal" aria-label="Close">&times;</button>
        </div>
        <div class="modal-body">
            <div class="input-group mb-3">
                <label class="input-group-text min-w-25" for="modal-apartment-number">Номер</label>
                <input type="text" name="number" class="form-control" maxlength="100" id="modal-apartment-number">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text min-w-25" for="modal-apartment-window-orientation">Вид</label>
                <input type="text" name="window_orientation" class="form-control" maxlength="100" id="modal-apartment-window-orientation">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text min-w-25" for="modal-apartment-area">Площадь</label>
                <input type="number" name="area" class="form-control"  min="0" step="0.01" id="modal-apartment-area">
            </div>
            <!-- <div class="input-group mb-3">
                <label class="input-group-text min-w-25" for="modal-apartment-rooms">Комнаты</label>
                <input type="number" name="rooms" class="form-control" maxlength="100" id="modal-apartment-rooms">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text min-w-25">Статус</label>
                <select name="status" class="form-control" id="modal-apartment-status" required>
                    <option value="available">Свободно</option>
                    <option value="reserved">Платная бронь</option>
                    <option value="shortReserved">Короткая бронь</option>
                    <option value="sold">Продана</option>
                </select>
            </div> -->
            <div class="input-group mb-3 ">
                <label class="input-group-text min-w-25">Комнаты</label>
                <select name="rooms" class="form-control"  id="modal-apartment-rooms" required>
                    <option value="Студия">Студия</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10 и более">10 и более</option>
                    <option value="Своб.планировка">Своб.планировка</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text min-w-25" for="modal-apartment-type">Тип</label>
                <input type="text" name="apartment_type" class="form-control" maxlength="100" id="modal-apartment-type">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text min-w-25" for="modal-apartment-price">Цена</label>
                <input type="number" name="price" class="form-control" maxlength="100" id="modal-apartment-price">
            </div>
            <a id="openModal" class="btn btn-warning mb-3" onclick="calculatePrice()">Рассчитать стоимость</a>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" name="terrace" id="modal-apartment-terrace">
                <label class="form-check-label" for="modal-apartment-terrace">
                    Терраса
                </label>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text min-w-25">Статус</label>
                <select name="status" class="form-control" id="modal-apartment-status" required>
                    <option value="available">Свободно</option>
                    <option value="reserved">Платная бронь</option>
                    <option value="shortReserved">Короткая бронь</option>
                    <option value="sold">Продана</option>
                </select>
            </div>
            <div class="input-group mb-3 ">
                <label class="input-group-text min-w-25">Отделка</label>
                <select name="decoration" class="form-control"  id="modal-apartment-decoration" required>
                    <option value="Без отделки">Без отделки</option>
                    <option value="Предчистовая">Предчистовая</option>
                    <option value="Чистовая">Чистовая</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text min-w-25" for="modal-apartment-kitchen-space">Площадь кухни</label>
                <input type="number" name="kitchen_space" class="form-control" min="0" step="0.01"  id="modal-apartment-kitchen-space">
            </div>
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-info modal-close" id="modal-close-bottom" data-bs-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-success">Сохранить</button>
        </div>
    </form>
</div>
<div class="modal" id="apartment-modal-create" tabindex="-1" aria-labelledby="apartmentModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="position: static;">
        <div class="modal-content" style="width: 35rem; max-height: 80vh; overflow-y: auto;">
            <form method="post" id="apartment-form">
                {% csrf_token %}
                {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
                <input type="hidden" name="building_id" value="{{ building.id }}">
                <div class="modal-header">
                    <h5 class="modal-title" id="apartmentModalLabel">Добавить квартиру</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="mb-3 col">
                            <label class="form-label">Номер</label>
                            <input type="text" name="number" class="form-control" required>
                        </div>
                        <div class="mb-3 col">
                            <label class="form-label">Площадь</label>
                            <input type="number" name="area" class="form-control" min="0" step="0.01" required id="modal-create-area">
                        </div>
                        
                    </div>
                    <div class="mb-3 ">
                        <label class="form-label">Вид</label>
                        <input type="text" name="window_orientation" class="form-control" required>
                    </div>
                    <div class="row">
                        <!-- <div class="mb-3 col">
                            <label class="form-label">Комнаты</label>
                            <input type="number" name="rooms" class="form-control" min="0" step="1" required>
                        </div> -->
                        <div class="mb-3 col">
                            <label class="form-label">Комнаты</label>
                            <select name="rooms" class="form-control" required>
                                <option value="Студия">Студия</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10 и более">10 и более</option>
                                <option value="Своб.планировка">Своб.планировка</option>
                            </select>
                        </div>
                        
                        <div class="mb-3 col" >
                            <label class="form-label">Тип</label>
                            <input type="text" name="apartment_type" class="form-control" required>
                        </div>
                    </div>
                    <div class="mb-3 ">
                        <label class="form-label">Статус</label>
                        <select name="status" class="form-control" required>
                            <option value="available">Свободно</option>
                            <option value="reserved">Платная бронь</option>
                            <option value="shortReserved">Короткая бронь</option>
                            <option value="sold">Продана</option>
                        </select>
                    </div>
                    <div class="mb-3 " >
                        <label class="form-label">Цена</label>
                        <input type="number" name="price" class="form-control" min="0" step="0.01" required id="modal-create-price">
                    </div>
                    <a id="openModalCreate" class="btn btn-warning mb-3" onclick="calculatePriceCreate()">Рассчитать стоимость</a>
                    <div class="mb-3">
                        <label class="iform-label">Терраса</label>
                        <input type="checkbox"  value="true" id="modal-create-terrace-checkbox" name="terrace" class="form-check-input" maxlength="100">
                    </div>
                    <input hidden id="modal-create-str-input" type="number" name="str" class="form-control" min="0" step="1" required>

                    <div class="row">
                        
                        <div class="mb-3 col">
                            <label class="form-label">Этаж</label>
                            <input id="modal-create-floor-input" type="number" name="floor" class="form-control" min="0" step="1" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Колонка</label>
                        <input type="number" name="col" class="form-control" min="0" step="1" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Секция (подъезд)</label>
                        <input type="number" name="section" class="form-control" min="0" step="1" required>
                    </div>

                    <div class="row">
                        <div class="mb-3 col">
                            <div class="mb-3 ">
                                <label class="form-label">Отделка</label>
                                <select name="decoration" class="form-control"  id="modal-create-decoration" required>
                                    <option value="Без отделки">Без отделки</option>
                                    <option value="Предчистовая">Предчистовая</option>
                                    <option value="Чистовая">Чистовая</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 col">
                            <label class="form-label" for="modal-create-kitchen-space">Площадь кухни</label>
                            <input type="number" name="kitchen_space" class="form-control" min="0" step="0.01"  id="modal-create-kitchen-space">
                        </div>
                        
                        
                    </div>
                    
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    document.querySelector('#apartment-modal-create').addEventListener("submit", function(event) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);
        const buildingId = formData.get("building_id");
        formData.set("terrace", document.getElementById("modal-create-terrace-checkbox").checked ? "true" : "false");
        
        fetch(`/chess/building/${buildingId}/apartment/create/`, {  // Слеш в конце!
            method: "POST",
            headers: {
                "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.message) {
                location.reload();  // Обновляем страницу
            } else {
                alert("Ошибка: " + (data.error || "Неизвестная ошибка"));
            }
        })
        .catch(error => console.error("Ошибка:", error));
    })
    document.getElementById('modal-create-floor-input').addEventListener("change", function(event) {
        document.getElementById('modal-create-str-input').value = this.value;
    })
    document.querySelector("#apartment-modal form").addEventListener("submit", function (event) {
        event.preventDefault();
        
        const form = event.target;
        const formData = new FormData(form);
        const apartmentId = formData.get("apartment_id");
        const buildingId = formData.get("building_id");
        formData.set("terrace", document.getElementById("modal-apartment-terrace").checked ? "true" : "false");
        /* console.log(formData)
        console.log(formData.get("terrace")) */
        
        fetch(`/chess/building/${buildingId}/apartment/${apartmentId}/update/`, {  // Слеш в конце!
            method: "POST",
            headers: {
                "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.message) {
                /* alert(data.message); */
                location.reload();  // Обновляем страницу
            } else {
                alert("Ошибка: " + (data.error || "Неизвестная ошибка"));
            }
        })
        .catch(error => console.error("Ошибка:", error));
    });
    document.addEventListener("DOMContentLoaded", function() {
        const modal = document.getElementById("apartment-modal");
        const modalNumber = document.getElementById("modal-apartment-number");
        const modalId = document.getElementById("apartment-id");
        const modalWindowOrientation = document.getElementById("modal-apartment-window-orientation");
        const modalArea = document.getElementById("modal-apartment-area");
        const modalRooms = document.getElementById("modal-apartment-rooms");
        const modalType = document.getElementById("modal-apartment-type");
        const modalPrice = document.getElementById("modal-apartment-price");
        const modalStatus = document.getElementById("modal-apartment-status");
        const modalTerrace = document.getElementById("modal-apartment-terrace");
        const modalDecoration = document.getElementById("modal-apartment-decoration");
        const modalKitchenSpace = document.getElementById("modal-apartment-kitchen-space");
        
        const closeModalButton = document.getElementById("modal-close-top");
        const closeModalButton2 = document.getElementById("modal-close-bottom");
        const form = document.getElementById("apartment-form");
        let modalCreate = new bootstrap.Modal(document.getElementById("apartment-modal-create"));

        document.querySelector("#create-modal-btn").addEventListener("click", function () {
            modalCreate.show();
        });
        document.querySelectorAll(".apartment-link").forEach(link => {
            link.addEventListener("click", function(event) {
                event.preventDefault();
                this.dataset.price = this.dataset.price.replace(/\s+/g, '');
                // Заполняем модальное окно данными
                modalId.value = this.dataset.id;
                modalNumber.value = this.dataset.number;
                modalWindowOrientation.value = this.dataset.windowOrientation;
                
                
                modalArea.value = parseFloat(this.dataset.area);
                /* console.log(modalRooms.value) */
                modalRooms.value = this.dataset.rooms;
                modalType.value = this.dataset.apartmentType;
                /* console.log(modalPrice.value) */
                modalPrice.value = parseFloat(this.dataset.price);
                modalStatus.value = this.dataset.status;
                modalDecoration.value = this.dataset.decoration;
                modalKitchenSpace.value = parseFloat(this.dataset.kitchenSpace);
                
                console.log('terrace: ' + this.dataset.terrace)
                /* modalTerrace.value = this.dataset.terrace; */
                modalTerrace.checked = this.dataset.terrace === "True";


                // Показываем модальное окно
                modal.style.display = "block";
            });
        });

        // Закрытие окна при клике на кнопку
        closeModalButton.addEventListener("click", function() {
            modal.style.display = "none";
        });

        closeModalButton2.addEventListener("click", function() {
            modal.style.display = "none";
        });
        // Закрытие окна при клике вне контента
        window.addEventListener("click", function(event) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        });
    });
</script>

<!-- Рассчёт цен -->
<div class="modal" id="priceModal" tabindex="-1" aria-labelledby="priceModalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="priceModalLabel">Калькулятор стоимости</h5>
            <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <label for="apartmentType" class="form-label">Тип квартиры:</label>
            <select id="apartmentType" class="form-select">
                <option value="studio">Студия</option>
                <option value="1ka">1-комнатная</option>
                <option value="2e">2-е</option>
                <option value="2ka">2-комнатная</option>
                <option value="3ka">3-комнатная</option>
                <option value="3e96">3-е 96 кв.м.</option>
                <option value="3e">3-е</option>
            </select>
            <label for="viewType" class="form-label mt-2">Вид:</label>
            <select id="viewType" class="form-select">
                <option value="standard">Стандартный (1)</option>
                <option value="good">Хороший (1,15)</option>
                <option value="reservoir">Вид на водохранилище (1,2)</option>
                <option value="bad">Плохой (0,9)</option>
            </select>
            <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" id="mezzanine">
                <label class="form-check-label" for="mezzanine">Антресоль (1,1)</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="terraceMezzanine">
                <label class="form-check-label" for="terraceMezzanine">Террасы+антресоль (1,15)</label>
            </div>
            <p class="mt-3">Площадь: <span id="area">---</span> м²</p>
            <p>Цена за м²: <span id="pricePerM2">---</span> руб.</p>
            <h3><strong>Итоговая стоимость:<br> <span id="totalPrice">---</span> руб.</strong></h3>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="savePrice">Сохранить</button>
        </div>
    </div>
</div>

<div id="priceModalCreate" class="modal" tabindex="-1" aria-labelledby="priceModalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="priceModalLabel">Калькулятор стоимости</h5>
            <button type="button" class="btn-close closeCreate" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <label for="apartmentTypeCreate" class="form-label">Тип квартиры:</label>
            <select id="apartmentTypeCreate" class="form-select">
                <option value="studio">Студия</option>
                <option value="1ka">1-комнатная</option>
                <option value="2e">2-е</option>
                <option value="2ka">2-комнатная</option>
                <option value="3ka">3-комнатная</option>
                <option value="3e96">3-е 96 кв.м.</option>
                <option value="3e">3-е</option>
            </select>
            <label for="viewTypeCreate" class="form-label mt-2">Вид:</label>
            <select id="viewTypeCreate" class="form-select">
                <option value="standard">Стандартный (1)</option>
                <option value="good">Хороший (1,15)</option>
                <option value="reservoir">Вид на водохранилище (1,2)</option>
                <option value="bad">Плохой (0,9)</option>
            </select>
    
            <label for="coefficients">Коэфиценты:</label>
            <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" id="mezzanineCreate">
                <label class="form-check-label" for="mezzanineCreate">Антресоль (1,1)</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="terraceMezzanineCreate">
                <label class="form-check-label" for="terraceMezzanineCreate">Террасы+антресоль (1,15)</label>
            </div>
            <p>Площадь: <span id="areaCreate">---</span> м²</p>
            <p>Цена за м²: <span id="pricePerM2Create">---</span> руб.</p>
            <h3><strong>Итоговая стоимость:<br> <span id="totalPriceCreate">---</span> руб.</strong></h3>
        </div>
        <!-- Форма калькулятора -->
        
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="savePriceCreate">Сохранить</button>
        </div>
    </div>
</div>
<!-- 
<style>
    /* Стили для модального окна */
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .modal-content {
        background-color: white;
        margin: 15% auto;
        padding: 20px;
        border-radius: 10px;
        width: 300px;
        text-align: center;
    }
    .close {
        float: right;
        font-size: 20px;
        cursor: pointer;
    }
</style> -->

<script>
    const priceData = {
        "studio": { standard: 140000, good: 161000, reservoir: 168000, bad: 126000 },
        "1ka": { standard: 130000, good: 149500, reservoir: 156000, bad: 117000 },
        "2e": { standard: 130000, good: 149500, reservoir: 156000, bad: 117000 },
        "2ka": { standard: 120000, good: 138000, reservoir: 144000, bad: 108000 },
        "3ka": { standard: 115000, good: 132250, reservoir: 138000, bad: 103500 },
        "3e96": { standard: 110000, good: 126500, reservoir: 132000, bad: 99000 },
        "3e": { standard: 116000, good: 133400, reservoir: 139200, bad: 104400 }
    };

    const coefficients = {
        "reservoir": 1.2,
        "good": 1.15,
        "standard": 1,
        "bad": 0.9,
        "mezzanine": 1.1,
        "terraceMezzanine": 1.15
    };

    document.getElementById("openModal").addEventListener("click", function() {
        document.getElementById("priceModal").style.display = "block";
    });

    document.getElementById("openModalCreate").addEventListener("click", function() {
        document.getElementById("priceModalCreate").style.display = "block";
    });

    document.querySelector(".close").addEventListener("click", function() {
        document.getElementById("priceModal").style.display = "none";
    });

    document.querySelector(".closeCreate").addEventListener("click", function() {
        document.getElementById("priceModalCreate").style.display = "none";
    });

    function calculatePrice() {
        /* event.preventDefault(); */
        console.log('calc')
        let type = document.getElementById("apartmentType").value;
        let view = document.getElementById("viewType").value;
        let hasMezzanine = document.getElementById("mezzanine").checked;
        let hasTerraceMezzanine = document.getElementById("terraceMezzanine").checked;

        let basePrice = priceData[type]["standard"];
        let viewCoefficient = coefficients[view];
        let mezzanineCoefficient = hasMezzanine ? coefficients["mezzanine"] : (hasTerraceMezzanine ? coefficients["terraceMezzanine"] : 1);
        let finalPricePerM2 = basePrice * viewCoefficient * mezzanineCoefficient;

        let area = document.getElementById("modal-apartment-area").value; // Условная площадь
        let totalPrice = finalPricePerM2 * area;

        document.getElementById("area").textContent = area;
        document.getElementById("pricePerM2").textContent = finalPricePerM2.toFixed(2);
        document.getElementById("totalPrice").textContent = totalPrice.toFixed(2);
    }

    function calculatePriceCreate() {
        console.log('calc create')
        let type = document.getElementById("apartmentTypeCreate").value;
        let view = document.getElementById("viewTypeCreate").value;
        let hasMezzanine = document.getElementById("mezzanineCreate").checked;
        let hasTerraceMezzanine = document.getElementById("terraceMezzanineCreate").checked;

        let basePrice = priceData[type]["standard"];
        let viewCoefficient = coefficients[view];
        let mezzanineCoefficient = hasMezzanine ? coefficients["mezzanine"] : (hasTerraceMezzanine ? coefficients["terraceMezzanine"] : 1);
        let finalPricePerM2 = basePrice * viewCoefficient * mezzanineCoefficient;

        let area = document.getElementById("modal-create-area").value; // Условная площадь
        let totalPrice = finalPricePerM2 * area;

        document.getElementById("areaCreate").textContent = area;
        document.getElementById("pricePerM2Create").textContent = finalPricePerM2.toFixed(2);
        document.getElementById("totalPriceCreate").textContent = totalPrice.toFixed(2);
    }

    document.getElementById("apartmentType").addEventListener("change", calculatePrice);
    document.getElementById("viewType").addEventListener("change", calculatePrice);
    document.getElementById("mezzanine").addEventListener("change", calculatePrice);
    document.getElementById("terraceMezzanine").addEventListener("change", calculatePrice);
    
    document.getElementById("apartmentTypeCreate").addEventListener("change", calculatePriceCreate);
    document.getElementById("viewTypeCreate").addEventListener("change", calculatePriceCreate);
    document.getElementById("mezzanineCreate").addEventListener("change", calculatePriceCreate);
    document.getElementById("terraceMezzanineCreate").addEventListener("change", calculatePriceCreate);

    document.getElementById("savePrice").addEventListener("click", function() {
        /* alert("Стоимость сохранена: " + document.getElementById("totalPrice").textContent + " руб."); */
        document.getElementById("priceModal").style.display = "none";
        document.getElementById("modal-apartment-price").value = parseFloat(document.getElementById("totalPrice").textContent);
        
    });

    document.getElementById("savePriceCreate").addEventListener("click", function() {
        /* alert("Стоимость сохранена: " + document.getElementById("totalPriceCreate").textContent + " руб."); */
        document.getElementById("priceModalCreate").style.display = "none";
        document.getElementById("modal-create-price").value = parseFloat(document.getElementById("totalPriceCreate").textContent);
    });

   /*  calculatePrice(); */
</script>

{% endblock %}
