{% extends 'base_view.html' %}
{% load chessboard_filter %}
{% block container %}

<style>
    /* Стили для модального окна */
    .modal {
        display: none; /* По умолчанию скрыто */
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

</style>

<div class="card">
    <div class="card-body">
        <h1>Дом: {{ building.name }}</h1>
        {% for section in sections %}
            <h3>Секция: {{ section }}</h3>
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>Этаж \ Колонка</th>
                        {% for col in column_range %}
                            <th>Колонка {{ col }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for floor, columns in floors.items %}
                    <tr>
                        <td style="width: 100px;"><strong>{{ floor }} этаж</strong></td>
                        
                        {% for col in column_range %}
                            <td>
                                {% if columns|get_item:col %}
                                    {% for apartment in columns|get_item:col %}
                                        {% if apartment.section == section %}
                                            <table class="table-bordered m-auto" >
                                                <tr>
                                                    <td class="w-7 p-2">
                                                        <a href="#" class="apartment-link" 
                                                            data-number="{{ apartment.number }}" 
                                                            data-area="{{ apartment.area }}"
                                                            data-window-orientation="{{ apartment.window_orientation }}"
                                                            data-rooms="{{ apartment.rooms }}"
                                                            data-apartment-type="{{ apartment.apartment_type }}"
                                                            data-price="{{ apartment.price }}"
                                                        >
                                                            №{{ apartment.number }}
                                                        </a>
                                                    </td>
                                                    <td class="w-7 p-2">
                                                        <a href="#" class="apartment-link"
                                                            data-number="{{ apartment.number }}" 
                                                            data-area="{{ apartment.area }}"
                                                            data-window-orientation="{{ apartment.window_orientation }}"
                                                            data-rooms="{{ apartment.rooms }}"
                                                            data-apartment-type="{{ apartment.apartment_type }}"
                                                            data-price="{{ apartment.price }}"
                                                        >
                                                            {{ apartment.window_orientation }}
                                                        </a>
                                                    </td>
                                                    <td class="w-7 p-2">
                                                        <a href="#" class="apartment-link" 
                                                            data-number="{{ apartment.number }}" 
                                                            data-area="{{ apartment.area }}"
                                                            data-window-orientation="{{ apartment.window_orientation }}"
                                                            data-rooms="{{ apartment.rooms }}"
                                                            data-apartment-type="{{ apartment.apartment_type }}"
                                                            data-price="{{ apartment.price }}"
                                                        >
                                                            {{ apartment.area }} м²
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="w-7 p-2">
                                                        <a href="#" class="apartment-link" 
                                                            data-number="{{ apartment.number }}" 
                                                            data-area="{{ apartment.area }}"
                                                            data-window-orientation="{{ apartment.window_orientation }}"
                                                            data-rooms="{{ apartment.rooms }}"
                                                            data-apartment-type="{{ apartment.apartment_type }}"
                                                            data-price="{{ apartment.price }}"
                                                        >
                                                            {{ apartment.rooms }}к
                                                        </a>
                                                    </td>
                                                    <td class="w-7 p-2">
                                                        <a href="#" class="apartment-link" 
                                                            data-number="{{ apartment.number }}" 
                                                            data-area="{{ apartment.area }}"
                                                            data-window-orientation="{{ apartment.window_orientation }}"
                                                            data-rooms="{{ apartment.rooms }}"
                                                            data-apartment-type="{{ apartment.apartment_type }}"
                                                            data-price="{{ apartment.price }}"
                                                        >
                                                            {{ apartment.apartment_type }}
                                                        </a>
                                                    </td>
                                                    <td class="w-7 p-2">
                                                        <a href="#" class="apartment-link" 
                                                            data-number="{{ apartment.number }}" 
                                                            data-area="{{ apartment.area }}"
                                                            data-window-orientation="{{ apartment.window_orientation }}"
                                                            data-rooms="{{ apartment.rooms }}"
                                                            data-apartment-type="{{ apartment.apartment_type }}"
                                                            data-price="{{ apartment.price }}"
                                                        >
                                                            {{ apartment.price }}
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        {%endif%}
                                    {% endfor %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
</div>
<div id="apartment-modal" class="modal">
    <form method="post" action="{{ url }}" class="modal-content">
        {% csrf_token %}
        {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
        <div class="modal-header px-0">
            <h5 class="modal-title" id="modalLabel">Детали квартиры</h5>
            <!-- <button class="modal-close">&times;</button> -->
            <button type="button" class="modal-close btn-close" style="margin-right: 0; margin-left: auto;" data-bs-dismiss="modal" aria-label="Close">&times;</button>
        </div>
        <div class="modal-body">
            <div class="input-group mb-3">
                <label class="input-group-text min-w-25" for="id_surname">Номер</label>
                <input type="text" name="number" class="form-control" maxlength="100" id="modal-apartment-number">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text min-w-25" for="id_surname">Вид</label>
                <input type="text" name="window-orientation" class="form-control" maxlength="100" id="modal-apartment-window-orientation">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text min-w-25" for="id_surname">Площадь</label>
                <input type="text" name="area" class="form-control" maxlength="100" id="modal-apartment-area">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text min-w-25" for="id_surname">Комнаты</label>
                <input type="text" name="rooms" class="form-control" maxlength="100" id="modal-apartment-rooms">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text min-w-25" for="id_surname">Тип</label>
                <input type="text" name="type" class="form-control" maxlength="100" id="modal-apartment-type">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text min-w-25" for="id_surname">Цена</label>
                <input type="text" name="price" class="form-control" maxlength="100" id="modal-apartment-price">
            </div>
            
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-info modal-close" data-bs-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-success">Сохранить</button>
        </div>
    </form>
</div>
<!-- Модальное окно -->
<!-- <div id="apartment-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Детали квартиры</h5>
            <button class="modal-close">&times;</button>
        </div>
        <form>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <label class="input-group-text min-w-25" for="id_surname">Номер</label>
                    <input type="text" name="number" class="form-control" maxlength="100" id="modal-apartment-number">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text min-w-25" for="id_surname">Вид</label>
                    <input type="text" name="window-orientation" class="form-control" maxlength="100" id="modal-apartment-window-orientation">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text min-w-25" for="id_surname">Площадь</label>
                    <input type="text" name="area" class="form-control" maxlength="100" id="modal-apartment-area">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text min-w-25" for="id_surname">Комнаты</label>
                    <input type="text" name="rooms" class="form-control" maxlength="100" id="modal-apartment-rooms">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text min-w-25" for="id_surname">Тип</label>
                    <input type="text" name="type" class="form-control" maxlength="100" id="modal-apartment-type">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text min-w-25" for="id_surname">Цена</label>
                    <input type="text" name="price" class="form-control" maxlength="100" id="modal-apartment-price">
                </div>
                
            </div>
        </form>
        
    </div>
</div> -->

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const modal = document.getElementById("apartment-modal");
        const modalNumber = document.getElementById("modal-apartment-number");
        const modalWindowOrientation = document.getElementById("modal-apartment-window-orientation");
        const modalArea = document.getElementById("modal-apartment-area");
        const modalRooms = document.getElementById("modal-apartment-rooms");
        const modalType = document.getElementById("modal-apartment-type");
        const modalPrice = document.getElementById("modal-apartment-price");
        const closeModalButton = document.querySelector(".modal-close");

        document.querySelectorAll(".apartment-link").forEach(link => {
            link.addEventListener("click", function(event) {
                event.preventDefault();
                console.log(this.dataset)
                // Заполняем модальное окно данными
                modalNumber.value = this.dataset.number;
                modalWindowOrientation.value = this.dataset.windowOrientation;
                modalArea.value = this.dataset.area;
                modalRooms.value = this.dataset.rooms;
                modalType.value = this.dataset.apartmentType;
                modalPrice.value = this.dataset.price;
                // Показываем модальное окно
                modal.style.display = "block";
            });
        });

        // Закрытие окна при клике на кнопку
        closeModalButton.addEventListener("click", function() {
            modal.style.display = "none";
        });

        // Закрытие окна при клике вне контента
        window.addEventListener("click", function(event) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        });
    });
</script>

{% endblock %}
