{% extends 'base_view.html' %}
{% load chessboard_filter %}
{% block container %}

<style>
    /* Стили для модального окна */
    .modal {
        display: none; /* По умолчанию скрыто */
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .modal-backdrop {
        display: none !important;
    }

</style>
<button type="button" id="create-modal-btn" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#apartment-modal-create">
    <i class="ti ti-plus icon"></i>Добавить квартиру
</button>
<div class="card">
    <div class="card-body">
        <h1>Дом: {{ building.name }}</h1>
        {% for section in sections %}
            <h3>Секция: {{ section }}</h3>
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>Этаж \ Колонка</th>
                        {% for col in column_range %}
                            <th>Колонка {{ col }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for floor, columns in floors.items %}
                    <tr>
                        <td style="width: 100px;"><strong>{{ floor }} этаж</strong></td>
                        
                        {% for col in column_range %}
                            <td>
                                {% if columns|get_item:col %}
                                    {% for apartment in columns|get_item:col %}
                                        {% if apartment.section == section %}
                                            {% if apartment.status == 'sold' %}
                                            <table class="table-bordered m-auto bg-red" >
                                            {%elif apartment.status == 'reserved' %}
                                            
                                            <table class="table-bordered m-auto bg-purple" >
                                            {%elif apartment.status == 'shortReserved' %}
                                            
                                            <table class="table-bordered m-auto" style="background-color: #700707;">
                                            {% else %}
                                            <table class="table-bordered m-auto bg-green" >
                                            {%endif%}
                                                <tr>
                                                    <td class="w-7 p-2">
                                                        <a href="#" class="apartment-link text-white" 
                                                            data-id="{{ apartment.id }}" 
                                                            data-number="{{ apartment.number }}" 
                                                            data-area="{{ apartment.area }}"
                                                            data-window-orientation="{{ apartment.window_orientation }}"
                                                            data-rooms="{{ apartment.rooms }}"
                                                            data-apartment-type="{{ apartment.apartment_type }}"
                                                            data-price="{{ apartment.price }}"
                                                            data-status="{{ apartment.status }}"
                                                        >
                                                            №{{ apartment.number }}
                                                        </a>
                                                    </td>
                                                    <td class="w-7 p-2">
                                                        <a href="#" class="apartment-link text-white"
                                                            data-id="{{ apartment.id }}" 
                                                            data-number="{{ apartment.number }}" 
                                                            data-area="{{ apartment.area }}"
                                                            data-window-orientation="{{ apartment.window_orientation }}"
                                                            data-rooms="{{ apartment.rooms }}"
                                                            data-apartment-type="{{ apartment.apartment_type }}"
                                                            data-price="{{ apartment.price }}"
                                                            data-status="{{ apartment.status }}"
                                                        >
                                                            {{ apartment.window_orientation }}
                                                        </a>
                                                    </td>
                                                    <td class="w-7 p-2">
                                                        <a href="#" class="apartment-link text-white" 
                                                            data-id="{{ apartment.id }}"
                                                            data-number="{{ apartment.number }}" 
                                                            data-area="{{ apartment.area }}"
                                                            data-window-orientation="{{ apartment.window_orientation }}"
                                                            data-rooms="{{ apartment.rooms }}"
                                                            data-apartment-type="{{ apartment.apartment_type }}"
                                                            data-price="{{ apartment.price }}"
                                                            data-status="{{ apartment.status }}"
                                                        >
                                                            {{ apartment.area }} м²
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="w-7 p-2">
                                                        <a href="#" class="apartment-link text-white" 
                                                            data-id="{{ apartment.id }}"    
                                                            data-number="{{ apartment.number }}" 
                                                            data-area="{{ apartment.area }}"
                                                            data-window-orientation="{{ apartment.window_orientation }}"
                                                            data-rooms="{{ apartment.rooms }}"
                                                            data-apartment-type="{{ apartment.apartment_type }}"
                                                            data-price="{{ apartment.price }}"
                                                            data-status="{{ apartment.status }}"
                                                        >
                                                            {{ apartment.rooms }}к
                                                        </a>
                                                    </td>
                                                    <td class="w-7 p-2">
                                                        <a href="#" class="apartment-link text-white" 
                                                            data-id="{{ apartment.id }}" 
                                                            data-number="{{ apartment.number }}" 
                                                            data-area="{{ apartment.area }}"
                                                            data-window-orientation="{{ apartment.window_orientation }}"
                                                            data-rooms="{{ apartment.rooms }}"
                                                            data-apartment-type="{{ apartment.apartment_type }}"
                                                            data-price="{{ apartment.price }}"
                                                            data-status="{{ apartment.status }}"
                                                        >
                                                            {{ apartment.apartment_type }}
                                                        </a>
                                                    </td>
                                                    <td class="w-7 p-2">
                                                        <a href="#" class="apartment-link text-white" 
                                                            data-id="{{ apartment.id }}" 
                                                            data-number="{{ apartment.number }}" 
                                                            data-area="{{ apartment.area }}"
                                                            data-window-orientation="{{ apartment.window_orientation }}"
                                                            data-rooms="{{ apartment.rooms }}"
                                                            data-apartment-type="{{ apartment.apartment_type }}"
                                                            data-price="{{ apartment.price }}"
                                                            data-status="{{ apartment.status }}"
                                                        >
                                                            {{ apartment.price }}
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        {%endif%}
                                    {% endfor %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
</div>
<div id="apartment-modal" class="modal">
    <form method="post" class="modal-content" id="apartment-form">
        {% csrf_token %}
        {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
        <input type="hidden" name="building_id" value="{{ building.id }}">
        <input type="hidden" name="apartment_id" id="apartment-id" value="-1">
        <div class="modal-header px-0">
            <h5 class="modal-title" id="modalLabel">Детали квартиры</h5>
            <button type="button" class="modal-close btn-close" id="modal-close-top" style="margin-right: 0; margin-left: auto;" data-bs-dismiss="modal" aria-label="Close">&times;</button>
        </div>
        <div class="modal-body">
            <div class="input-group mb-3">
                <label class="input-group-text min-w-25" for="id_surname">Номер</label>
                <input type="text" name="number" class="form-control" maxlength="100" id="modal-apartment-number">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text min-w-25" for="id_surname">Вид</label>
                <input type="text" name="window_orientation" class="form-control" maxlength="100" id="modal-apartment-window-orientation">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text min-w-25" for="id_surname">Площадь</label>
                <input type="number" name="area" class="form-control" maxlength="100" id="modal-apartment-area">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text min-w-25" for="id_surname">Комнаты</label>
                <input type="number" name="rooms" class="form-control" maxlength="100" id="modal-apartment-rooms">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text min-w-25" for="id_surname">Тип</label>
                <input type="text" name="apartment_type" class="form-control" maxlength="100" id="modal-apartment-type">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text min-w-25" for="id_surname">Цена</label>
                <input type="number" name="price" class="form-control" maxlength="100" id="modal-apartment-price">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text min-w-25">Статус</label>
                <select name="status" class="form-control" id="modal-apartment-status" required>
                    <option value="available">Свободно</option>
                    <option value="reserved">Платная бронь</option>
                    <option value="shortReserved">Короткая бронь</option>
                    <option value="sold">Продана</option>
                </select>
            </div>
            
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-info modal-close" id="modal-close-bottom" data-bs-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-success">Сохранить</button>
        </div>
    </form>
</div>
<div class="modal" id="apartment-modal-create" tabindex="-1" aria-labelledby="apartmentModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="position: static;">
        <div class="modal-content">
            <form method="post" id="apartment-form">
                {% csrf_token %}
                {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
                <input type="hidden" name="building_id" value="{{ building.id }}">
                <div class="modal-header">
                    <h5 class="modal-title" id="apartmentModalLabel">Добавить квартиру</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Номер</label>
                        <input type="text" name="number" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Вид</label>
                        <input type="text" name="window_orientation" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Площадь</label>
                        <input type="number" name="area" class="form-control" min="0" step="0.01" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Комнаты</label>
                        <input type="number" name="rooms" class="form-control" min="0" step="1" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Тип</label>
                        <input type="text" name="apartment_type" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Цена</label>
                        <input type="number" name="price" class="form-control" min="0" step="0.01" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Статус</label>
                        <select name="status" class="form-control" required>
                            <option value="available">Свободно</option>
                            <option value="reserved">Платная бронь</option>
                            <option value="shortReserved">Короткая бронь</option>
                            <option value="sold">Продана</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">STR</label>
                        <input type="number" name="str" class="form-control" min="0" step="1" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Floor</label>
                        <input type="number" name="floor" class="form-control" min="0" step="1" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">COL</label>
                        <input type="number" name="col" class="form-control" min="0" step="1" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">section</label>
                        <input type="number" name="section" class="form-control" min="0" step="1" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    document.querySelector('#apartment-modal-create').addEventListener("submit", function(event) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);
        const buildingId = formData.get("building_id");
        fetch(`/chess/building/${buildingId}/apartment/create/`, {  // Слеш в конце!
            method: "POST",
            headers: {
                "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.message) {
                /* alert(data.message); */
                location.reload();  // Обновляем страницу
            } else {
                alert("Ошибка: " + (data.error || "Неизвестная ошибка"));
            }
        })
        .catch(error => console.error("Ошибка:", error));
    })
    document.querySelector("#apartment-modal form").addEventListener("submit", function (event) {
        event.preventDefault();
        
        const form = event.target;
        const formData = new FormData(form);
        const apartmentId = formData.get("apartment_id");
        const buildingId = formData.get("building_id");

        fetch(`/chess/building/${buildingId}/apartment/${apartmentId}/update/`, {  // Слеш в конце!
            method: "POST",
            headers: {
                "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.message) {
                /* alert(data.message); */
                location.reload();  // Обновляем страницу
            } else {
                alert("Ошибка: " + (data.error || "Неизвестная ошибка"));
            }
        })
        .catch(error => console.error("Ошибка:", error));
    });
    document.addEventListener("DOMContentLoaded", function() {
        const modal = document.getElementById("apartment-modal");
        const modalNumber = document.getElementById("modal-apartment-number");
        const modalId = document.getElementById("apartment-id");
        const modalWindowOrientation = document.getElementById("modal-apartment-window-orientation");
        const modalArea = document.getElementById("modal-apartment-area");
        const modalRooms = document.getElementById("modal-apartment-rooms");
        const modalType = document.getElementById("modal-apartment-type");
        const modalPrice = document.getElementById("modal-apartment-price");
        const modalStatus = document.getElementById("modal-apartment-status");
        const closeModalButton = document.getElementById("modal-close-top");
        const closeModalButton2 = document.getElementById("modal-close-bottom");
        const form = document.getElementById("apartment-form");
        let modalCreate = new bootstrap.Modal(document.getElementById("apartment-modal-create"));

        document.querySelector("#create-modal-btn").addEventListener("click", function () {
            modalCreate.show();
        });
        document.querySelectorAll(".apartment-link").forEach(link => {
            link.addEventListener("click", function(event) {
                event.preventDefault();
                this.dataset.price = this.dataset.price.replace(/\s+/g, '');
                // Заполняем модальное окно данными
                modalId.value = this.dataset.id;
                modalNumber.value = this.dataset.number;
                modalWindowOrientation.value = this.dataset.windowOrientation;
                
                
                modalArea.value = parseFloat(this.dataset.area);
                /* console.log(modalRooms.value) */
                modalRooms.value = parseInt(this.dataset.rooms);
                modalType.value = this.dataset.apartmentType;
                /* console.log(modalPrice.value) */
                modalPrice.value = parseFloat(this.dataset.price);
                modalStatus.value = this.dataset.status;
                // Показываем модальное окно
                modal.style.display = "block";
            });
        });

        // Закрытие окна при клике на кнопку
        closeModalButton.addEventListener("click", function() {
            modal.style.display = "none";
        });

        closeModalButton2.addEventListener("click", function() {
            modal.style.display = "none";
        });
        // Закрытие окна при клике вне контента
        window.addEventListener("click", function(event) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        });
    });
</script>

{% endblock %}
