{% extends 'base_view.html' %}

{% block container %}
<div class="container">
    <h2>{% if form.instance.pk %}Редактирование{% else %}Добавление{% endif %} коэффициента</h2>
    
    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.name.errors }}
        </div>
        
        <div class="form-group">
            {{ form.coefficient.label_tag }}
            {{ form.coefficient }}
            {{ form.coefficient.errors }}
        </div>
        
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{% url 'main:complex_settings' complex_id=complex.pk %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
