{% extends 'base_view.html' %}
{% block container %}
<div class="card">
    <div class="row g-0">
        
        <div class="col-12 col-lg-7 col-xl-9 vh-100 scrollable" id="chat-body"><div class="card-body">ЖК список</div>
        <h1>Список жилых комплексов</h1>
        <div class="complex-list">
            {% for complex in complexes %}
                <div class="complex-item">
                    <h2><a href="{% url 'main:residential_complex_detail' complex.id %}">{{ complex.name }}</a></h2>
<!-- 
                    <h2><a href="{% url 'main:residential_complex_detail' complex_id=complex.pk %}">{{ complex.name }}</a></h2> -->
                    <p>{{ complex.description }}</p>
                    <p>Количество домов: {{ complex.buildings.count }}</p>
                    <p>Количество квартир: {{ complex.buildings.all }}</p>
                </div>
            {% endfor %}
        </div>
        </div>
    </div>
</div>
{% endblock %}