{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Восстановление пароля</title>
    <!-- CSS files -->
    <link href="{% static 'css/tabler.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'libs/tabler-icons/webfont/tabler-icons.min.css' %}" rel="stylesheet"/>
</head>
<body class="d-flex flex-column">
<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <a href="/" class="navbar-brand navbar-brand-autodark h2">
                <img src="{% static 'img/logo.svg' %}" height="56" alt="Новостройки Воронеж">
                Новостройки<br>Voronezh
            </a>
        </div>
        <div class="card card-md">
            <div class="card-body">
                {% if validlink %}
                    <h2 class="card-title text-center mb-4">Восстановление пароля</h2>
                    <p class="text-muted mb-4">Пожалуйста, введите (и подтвердите) Ваш новый пароль.</p>
                    <form action="{% url 'main:password_reset' %}">
                        {% csrf_token %}
                        {{ form.as_div }}
                        <div class="form-footer">
                            <button type="submit" class="btn btn-primary w-100">
                                <i class="ti ti-mail me-2"></i> Отправьте мне инструкцию
                            </button>
                        </div>
                    </form>
                {% else %}
                    <h2 class="card-title text-center mb-4">Сброс пароля не удался</h2>
                    <p class="text-muted text-center mb-4">Ссылка для сброса пароля неверна, возможно данная ссылка уже была использована. Пожалуйста, запросите новое восстановление пароля.</p>
                {% endif %}
            </div>
        </div>
        <div class="text-center text-muted mt-3">
            Вернуться обратно, <a href="{% url 'main:login' %}">для авторизации</a>.
        </div>
    </div>
</div>
<!-- Libs JS -->
<!-- Tabler Core -->
<script src="{% static 'js/tabler.min.js' %}" defer></script>
</body>
</html>