{% extends 'base_view.html' %}
{% block container %}
<div class="card">
    <div class="card-body p-1">
        {% for partner in partners %}
            <div class="card-group{% if not forloop.last %} mb-2{% endif %}">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-vcenter card-table">
                            <thead>
                            <tr>
                                <th>{% if partner.deleted %}<span class="badge bg-red text-red-fg me-2">Удален</span>{% endif %}ФИО</th>
                                <th>Телефон</th>
                                <th>Почта</th>
                                <th>Компания</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ partner }}</td>
                                <td>{{ partner.phone|default_if_none:"-" }}</td>
                                <td>{{ partner.email|default_if_none:"-" }}</td>
                                <td>{{ partner.company|default_if_none:"-" }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if request.user.is_staff %}
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-vcenter card-table">
                            <thead>
                            <tr><th>Сделка</th><th>Стадия</th><th class="w-1">Сумма</th><th class="w-1">Выплачена?</th></tr>
                            </thead>
                            <tbody>
                            {% for deal in partner.deals %}
                            <tr>
                                <td><a href="{{ deal.get_absolute_url }}">{{ deal }}</a></td>
                                <td>{{ deal.stage }}</td>
                                <td class="w-1">{{ deal.partner_money }}</td>
                                <td class="bg-{{ deal.partner_paid|yesno:"green,red" }}-lt text-center w-1">
                                    <i class="ti ti-{{ deal.partner_paid|yesno:"plus,minus" }}"></i>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% include 'base_pagination.html' %}
</div>
{% endblock %}