{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="shortcut icon" href="{% static 'img/logo.svg' %}" type="image/svg">
    <title>{{ title }} | CRM НВ</title>
    <!-- CSS files -->
    <link href="{% static 'css/tabler.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'libs/tabler-icons/webfont/tabler-icons.min.css' %}" rel="stylesheet"/>
</head>
<body class="border-top-wide border-primary d-flex flex-column">
    <div class="page page-center">
        <div class="container-tight py-4">
            <div class="empty">
                <div class="empty-header">401</div>
                <p class="empty-title">{{ title }}</p>
                <p class="empty-subtitle text-secondary">Вы были уволены, а Ваша учетная запись деактивирована</p>
                <div class="empty-action">
                    <a href="{% url 'main:logout' %}" class="btn btn-danger">
                        <i class="ti ti-logout-2 icon"></i> Выйти
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>