{% extends 'base_view.html' %}
{% load static tools humanize l10n %}
{% block container %}
<div class="row mb-3">
    <div class="col">
        <div class="card card-sm">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="bg-primary text-white avatar"><i class="ti ti-user-dollar icon"></i></span>
                    </div>
                    <div class="col">
                        <div class="fw-bolder">{{ stats.contacts }}</div>
                        <div class="text-secondary">Контактов</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-sm">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="bg-success text-white avatar"><i class="ti ti-wallet icon"></i></span>
                    </div>
                    <div class="col">
                        <div class="fw-bolder">{{ stats.deals }}</div>
                        <div class="text-secondary">Активные сделки</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-sm">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="bg-danger text-white avatar"><i class="ti ti-clock-cancel icon"></i></span>
                    </div>
                    <div class="col">
                        <div class="fw-bolder">{{ stats.tasks.outdated }}</div>
                        <div class="text-secondary">Просроченные задачи</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-sm">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="bg-success text-white avatar"><i class="ti ti-clock-check icon"></i></span>
                    </div>
                    <div class="col">
                        <div class="fw-bolder">{{ stats.tasks.active }}</div>
                        <div class="text-secondary">Активные задачи</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-sm">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="bg-danger text-white avatar"><i class="ti ti-eye-off icon"></i></span>
                    </div>
                    <div class="col">
                        <div class="fw-bolder">{{ stats.showings.outdated }}</div>
                        <div class="text-secondary">Просроченные показы</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-sm">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="bg-success text-white avatar"><i class="ti ti-eye icon"></i></span>
                    </div>
                    <div class="col">
                        <div class="fw-bolder">{{ stats.showings.active }}</div>
                        <div class="text-secondary">Активные показы</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h3 class="mb-3">Персональная статистика</h3>
<div class="row mb-3">
    <div class="col">
        <div class="card">
            <div class="card-header">Показы</div>
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="bg-danger text-white avatar"><i class="ti ti-eye-off icon"></i></span>
                    </div>
                    <div class="col">
                        <div class="fw-bolder">{{ stats.my.showings.closed }}</div>
                        <div class="text-secondary">Закрытые</div>
                    </div>
                    <div class="col-auto">
                        <span class="bg-warning text-white avatar"><i class="ti ti-eye icon"></i></span>
                    </div>
                    <div class="col">
                        <div class="fw-bolder">{{ stats.my.showings.outdated }}</div>
                        <div class="text-secondary">Просроченные</div>
                    </div>
                    <div class="col-auto">
                        <span class="bg-primary text-white avatar"><i class="ti ti-eye icon"></i></span>
                    </div>
                    <div class="col">
                        <div class="fw-bolder">{{ stats.my.showings.today }}</div>
                        <div class="text-secondary">Актуальные</div>
                    </div>
                    <div class="col-auto">
                        <span class="bg-success text-white avatar"><i class="ti ti-eye icon"></i></span>
                    </div>
                    <div class="col">
                        <div class="fw-bolder">{{ stats.my.showings.tomorrow }}</div>
                        <div class="text-secondary">Предстоящие</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">Задачи</div>
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="bg-danger text-white avatar"><i class="ti ti-clock-cancel icon"></i></span>
                    </div>
                    <div class="col">
                        <div class="fw-bolder">{{ stats.my.tasks.closed }}</div>
                        <div class="text-secondary">Закрытые</div>
                    </div>
                    <div class="col-auto">
                        <span class="bg-warning text-white avatar"><i class="ti ti-clock-down icon"></i></span>
                    </div>
                    <div class="col">
                        <div class="fw-bolder">{{ stats.my.tasks.outdated }}</div>
                        <div class="text-secondary">Просроченные</div>
                    </div>
                    <div class="col-auto">
                        <span class="bg-primary text-white avatar"><i class="ti ti-clock-play icon"></i></span>
                    </div>
                    <div class="col">
                        <div class="fw-bolder">{{ stats.my.tasks.today }}</div>
                        <div class="text-secondary">Актуальные</div>
                    </div>
                    <div class="col-auto">
                        <span class="bg-success text-white avatar"><i class="ti ti-clock-check icon"></i></span>
                    </div>
                    <div class="col">
                        <div class="fw-bolder">{{ stats.my.tasks.tomorrow }}</div>
                        <div class="text-secondary">Предстоящие</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if request.user.is_staff %}
    {% load statistic %}
    <h3 class="mb-3">Административная статистика</h3>
    <div class="card mb-3">
        <form class="card-body" method="get">
            <div class="row">
                <div class="col"><input type="date" name="from" class="form-control" value="{{ from|date:"Y-m-d" }}"></div>
                <div class="col"><input type="date" name="to" class="form-control" value="{{ to|date:"Y-m-d" }}"></div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary btn-icon"><i class="ti ti-refresh icon"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a href="#tab1" class="nav-link active" data-bs-toggle="tab" aria-selected="true" role="tab" hx-get="{% url 'main:responsible-stats' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" hx-target="#tab1" hx-swap="innerHTML">
                    <i class="ti ti-chart-dots icon nav-link-icon"></i>Контакты и сделки по ответственному
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="#tab1" class="nav-link" data-bs-toggle="tab" aria-selected="true" role="tab" hx-get="{% url 'main:deals-stats' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" hx-target="#tab1" hx-swap="innerHTML">
                    <i class="ti ti-chart-dots icon nav-link-icon"></i>Сделки по продавцу
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="#tab2" class="nav-link" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">
                    <i class="ti ti-currency-rubel icon nav-link-icon"></i>Дебеторка
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="#tab1" class="nav-link" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab" hx-get="{% url 'main:sources-stats' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" hx-target="#tab1" hx-swap="innerHtml">
                    <i class="ti ti-address-book icon nav-link-icon"></i>Источники контактов
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab1" class="card tab-pane active show" role="tabpanel" hx-get="{% url 'main:responsible-stats' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" hx-trigger="load">
                <video width="200" height="200" autoplay loop class="mx-auto my-5 d-block htmx-indicator"><source src="/static/img/loading.webm" type="video/webm" /></video>
            </div>
            <div id="tab2" class="card tab-pane" role="tabpanel">
                <div class="card-body">
                    <p class="text-secondary text-center">Будет позже ¯\_(ツ)_/¯</p>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="//cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
<script>
    let tableToExcel = (function() {
        let uri = 'data:application/vnd.ms-excel;base64,',
            template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>',
            base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) },
            format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) },
            downloadURI = function(uri, name) {
                let link = document.createElement("a");
                link.download = name;
                link.href = uri;
                link.click();
            }
        return function(table, name, fileName) {
            if (!table.nodeType) table = document.getElementById(table)
                let ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
            let resuri = uri + base64(format(template, ctx))
            downloadURI(resuri, fileName);
        }
    })();
</script>
{% endblock %}