<div class="modal-dialog modal-lg modal-dialog-centered">
    <form method="post" action="{{ url }}" class="modal-content">
        {% csrf_token %}
        <input type="hidden" name="lead_id" value="{{ lead_id|stringformat:"i" }}">
        {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
        <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Создание {{ name|default:'записи' }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label class="form-label">{{ form.priority.label }}</label>
                <div class="row g-2">
                    <div class="col-auto">
                        <label class="form-colorinput form-colorinput-light">
                            <input name="{{ form.priority.html_name }}" type="radio" value="1" class="form-colorinput-input"{% if form.priority.value == 1 %} checked{% endif %}/>
                            <span class="form-colorinput-color bg-white rounded-circle"></span>
                        </label>
                    </div>
                    <div class="col-auto">
                        <label class="form-colorinput">
                            <input name="{{ form.priority.html_name }}" type="radio" value="2" class="form-colorinput-input"{% if form.priority.value == 2 %} checked{% endif %}/>
                            <span class="form-colorinput-color bg-blue rounded-circle"></span>
                        </label>
                    </div>
                    <div class="col-auto">
                        <label class="form-colorinput">
                            <input name="{{ form.priority.html_name }}" type="radio" value="3" class="form-colorinput-input"{% if form.priority.value == 3 %} checked{% endif %}/>
                            <span class="form-colorinput-color bg-lime rounded-circle"></span>
                        </label>
                    </div>
                    <div class="col-auto">
                        <label class="form-colorinput">
                            <input name="{{ form.priority.html_name }}" type="radio" value="4" class="form-colorinput-input"{% if form.priority.value == 4 %} checked{% endif %}/>
                            <span class="form-colorinput-color bg-yellow rounded-circle"></span>
                        </label>
                    </div>
                    <div class="col-auto">
                        <label class="form-colorinput">
                            <input name="{{ form.priority.html_name }}" type="radio" value="5" class="form-colorinput-input"{% if form.priority.value == 5 %} checked{% endif %}/>
                            <span class="form-colorinput-color bg-red rounded-circle"></span>
                        </label>
                    </div>
                </div>
            </div>
            {% if users %}
            <div class="mb-3">
                <label class="form-label" for="user">Исполнитель</label>
                <select class="form-select" name="user" id="user">
                    <option value="" selected>Выберите исполнителя</option>
                    {% for user in users %}<option value="{{ user.pk }}">{{ user }}</option>{% endfor %}
                </select>
            </div>
            {% endif %}
            <div class="mb-3">
                <label class="form-label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                {{ form.name }}
                {% if form.name.help_text %}<div class="form-text">{{ form.name.help_text|safe }}</div>{% endif %}
                <div class="invalid-feedback">{{ form.name.errors }}</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="{{ form.text.id_for_label }}">{{ form.text.label }}</label>
                {{ form.text }}
                {% if form.text.help_text %}<div class="form-text">{{ form.text.help_text|safe }}</div>{% endif %}
                <div class="invalid-feedback">{{ form.text.errors }}</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="{{ form.date_to.id_for_label }}">{{ form.date_to.label }}</label>
                {{ form.date_to }}
                {% if form.date_to.help_text %}<div class="form-text">{{ form.date_to.help_text|safe }}</div>{% endif %}
                <div class="invalid-feedback">{{ form.date_to.errors }}</div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-success">Создать</button>
        </div>
    </form>
</div>