{% extends 'base_view.html' %}
{% block container %}
<div class="card">
    <form class="card-body">
        <div class="row align-items-center">
            <div class="col-12 col-lg mb-3 mb-lg-0">
                <select name="user" class="form-select">
                    <option value="">Все ответственные</option>
                    {% for user in users %}
                        <option value="{{ user.pk }}"{% if request.GET.user|add:"0" == user.pk %} selected{% endif %}>{{ user }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-12 col-lg mb-3 mb-lg-0">
                <select name="category" class="form-select">
                    <option value="">Все категории</option>
                    <option value="Квартиры"{% if request.GET.category == 'Квартиры' %} selected{% endif %}>Квартиры</option>
                    <option value="Дома, дачи, коттеджи"{% if request.GET.category == 'Дома, дачи, коттеджи' %} selected{% endif %}>Дома, дачи, коттеджи</option>
                    <option value="Земельные участки"{% if request.GET.category == 'Земельные участки' %} selected{% endif %}>Земельные участки</option>
                    <option value="Комнаты"{% if request.GET.category == 'Комнаты' %} selected{% endif %}>Комнаты</option>
                    <option value="Коммерческая недвижимость"{% if request.GET.category == 'Коммерческая недвижимость' %} selected{% endif %}>Коммерческая недвижимость</option>
                    <option value="Гаражи и машиноместа"{% if request.GET.category == 'Гаражи и машиноместа' %} selected{% endif %}>Гаражи и машиноместа</option>
                </select>
            </div>
            <div class="col-12 col-lg mb-3 mb-lg-0">
                <select name="operation" class="form-select">
                    <option value="">Все операции</option>
                    <option value="Продам"{% if request.GET.operation == 'Продам' %} selected{% endif %}>Продам</option>
                    <option value="Сдам"{% if request.GET.operation == 'Сдам' %} selected{% endif %}>Сдам</option>
                </select>
            </div>
            <div class="col-12 col-lg-auto">
                <button class="btn btn-primary w-100" type="submit"><i class="ti ti-filter icon"></i>Отфильтровать</button>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table table-vcenter table-bordered table-nowrap card-table">
            <thead>
            <tr>
                <th class="w-1 text-center">#</th>
                <th class="text-center w-1">Ответственный</th>
                <th class="text-center w-1">Адрес</th>
                <th class="text-center w-1">Тип</th>
                <th class="text-center w-1">Категория</th>
                <th class="text-center w-1">Цена</th>
                <th class="text-center w-1">Опубликовано?</th>
                <th class="text-center w-1">Ссылка</th>
                {% if request.user.is_staff %}<th class="text-center w-1"></th>{% endif %}
            </tr>
            </thead>
            <tbody>
            {% for ex in exclusives %}{% with fields=ex.fields_for_list %}
            <tr>
                <td class="text-center"><a href="{% url 'main:exclusive-page' exclusive_id=ex.pk %}">{{ ex.pk }}</a></td>
                <td class="text-center"><a href="{% url 'main:exclusive-page' exclusive_id=ex.pk %}">{{ ex.user|default_if_none:"-" }}</a></td>
                <td class="text-center text-wrap"><a href="{% url 'main:exclusive-page' exclusive_id=ex.pk %}">{{ fields.address }}</a></td>
                <td class="text-center"><a href="{% url 'main:exclusive-page' exclusive_id=ex.pk %}">{{ fields.operation }}</a></td>
                <td class="text-center text-wrap"><a href="{% url 'main:exclusive-page' exclusive_id=ex.pk %}">{{ fields.category }}</a></td>
                <td class="text-center"><a href="{% url 'main:exclusive-page' exclusive_id=ex.pk %}">{{ fields.price }}</a></td>
                <td class="text-center">{{ ex.published|yesno:"Да,Нет" }}</td>
                <td class="text-center">{{ ex.url|default_if_none:"-" }}</td>
                {% if request.user.is_staff %}
                <td class="text-center w-1">
                    {% url 'main:exclusive-delete' exclusive_id=ex.pk as url_delete %}
                    {% url 'main:modal-exclusive-delete' exclusive_id=ex.pk as url_modal_delete %}
                    {% include 'base_link.html' with url=url_delete class='btn btn-danger btn-icon' get=url_modal_delete text='<i class="ti ti-trash icon"></i>' %}
                </td>
                {% endif %}
            </tr>
            {% endwith %}{% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'base_pagination.html' %}
</div>
{% endblock %}