{% extends 'base_view.html' %}
{% load static %}

{% block container %}
<div class="row">
    <div class="col-lg-6">
        <form class="card" action="{% url 'main:exclusive-update' exclusive_id=exclusive.pk %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="card-body">
                {% if request.user.can_change_exclusive_responsible or request.user.is_staff or request.user.is_superuser %}
                <div class="mb-3">
                    <div class="form-label">Ответственный</div>
                    <select name="user" class="form-select">
                        <option>Выбрать</option>
                        {% for user in users %}
                            <option value="{{ user.pk }}"{% if instance.user.pk == user.pk %} selected{% endif %}>{{ user }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
                {{ form.as_div }}
                <div class="photos">
                    <div id="photos-preview" class="row row-cols-1 row-cols-lg-4 mb-3">
                        {% for photo in photos %}
                            <div class="col position-relative">
                                <input type="hidden" name="photo" value="{{ photo.pk }}">
                                <button type="button" class="btn-close position-absolute z-1 bg-white rounded-circle p-2"></button>
                                <div class="ratio ratio-1x1">
                                    <div style="background-image: url('{{ photo.photo.url }}')" class="rounded-4"></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <input type="file" accept="image/*" class="form-control form-control-lg" name="photos" multiple />
                </div>
            </div>
            <div class="card-footer text-end"><button type="submit" class="btn btn-warning">Обновить</button></div>
        </form>
    </div>
    <div class="col-lg-6">
        <div id="stats" class="card">
            <div class="card-header"><h3 class="card-title">Статистика</h3></div>
            <div class="card-body">
                <div id="chartContainer" class="w-100" style="min-height: 400px;"></div>
            </div>
            <table class="table table-vcenter table-bordered table-nowrap card-table">
                <thead>
                <tr>
                    <th class="text-center">Дата</th>
                    <th class="text-center">Показы</th>
                    <th class="text-center">Контакты</th>
                    <th class="text-center">Избранное</th>
                </tr>
                </thead>
                <tbody>
                {% for stat in exclusive.objectstat_set.all %}
                    <tr>
                        <td class="text-center">{{ stat.date }}</td>
                        <td class="text-center">{{ stat.views }}</td>
                        <td class="text-center">{{ stat.contacts }}</td>
                        <td class="text-center">{{ stat.favorites }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'libs/canvasjs-chart-3.8.8/canvasjs.min.js' %}"></script>
<script>
(() => {
    'use strict'
    let views = [], contacts = [], favourites = [];
    {% for stat in exclusive.objectstat_set.all %}
        views.push({x: new Date({{ stat.date.year|stringformat:'i' }}, {{ stat.date.month }}-1, {{ stat.date.day }}), y: {{ stat.views }}})
        contacts.push({x: new Date({{ stat.date.year|stringformat:'i' }}, {{ stat.date.month }}-1, {{ stat.date.day }}), y: {{ stat.contacts }}})
        favourites.push({x: new Date({{ stat.date.year|stringformat:'i' }}, {{ stat.date.month }}-1, {{ stat.date.day }}), y: {{ stat.favorites }}})
    {% endfor %}
    let chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        axisY: {title: "Количество"},
        legend: {verticalAlign: "top", horizontalAlign: "right", dockInsidePlotArea: true},
        toolTip: {shared: true},
        data: [{
            name: "Просмотры",
            showInLegend: true,
            legendMarkerType: "square",
            type: "area",
            color: "rgba(40,175,101,0.6)",
            markerSize: 0,
            dataPoints: views
        }, {
            name: "Контакты",
            showInLegend: true,
            legendMarkerType: "square",
            type: "area",
            color: "rgba(0,75,141,0.7)",
            markerSize: 0,
            dataPoints: contacts
        }, {
            name: "Избранное",
            showInLegend: true,
            legendMarkerType: "square",
            type: "area",
            color: "rgba(141,75,0,0.7)",
            markerSize: 0,
            dataPoints: favourites
        }]
    });
    chart.render();
})()
</script>
<script type="text/javascript" src="{% static 'libs/tinymce/tinymce.min.js' %}"></script>
<script>
(() => {
    'use strict'
    let createdElems = [];
    document.querySelector('.photos input[type="file"]').addEventListener('change', (evt) => {
        for (let i = 0; i < createdElems.length; i++) {
            createdElems[i].remove();
        }
        for (let i = 0; i < evt.target.files.length; i++) {
            let colDiv = document.createElement('div');
            colDiv.classList.add('col', 'position-relative');
            let btnClose = document.createElement('button');
            btnClose.setAttribute('type', 'button');
            btnClose.classList.add('btn-close', 'position-absolute', 'z-1', 'bg-white', 'rounded-circle', 'p-2');
            btnClose.dataset.id = i;
            btnClose.addEventListener('click', closePreview);
            colDiv.appendChild(btnClose); // Добавляю кнопку закрытия в превьюху
            let ratio = document.createElement('div');
            ratio.classList.add('ratio', 'ratio-1x1');
            let img = document.createElement('div');
            img.classList.add('rounded-4');
            img.style.backgroundImage = `url('${URL.createObjectURL(evt.target.files[i])}')`;
            ratio.appendChild(img);
            colDiv.appendChild(ratio);
            document.getElementById('photos-preview').appendChild(colDiv);
            createdElems.push(colDiv);
        }
    });
    let btnClose = document.querySelectorAll('#photos-preview .btn-close');
    for (let i = 0; i < btnClose.length; i++) {
        btnClose[i].addEventListener('click', closePreview);
    }
    // Редактор
    let options = {
        height: 300,
        menubar: false,
        statusbar: false,
        plugins: ['advlist', 'anchor', 'autolink', 'autoresize', 'autosave', 'charmap', 'code', 'codesample',
            'directionality', 'emoticons', 'fullscreen', 'insertdatetime', 'lists', 'media', 'nonbreaking', 'pagebreak',
            'preview', 'quickbars', 'save', 'searchreplace', 'table', 'visualblocks', 'wordcount'
        ],
        toolbar: 'undo redo | styles | bold italic code codesample | alignleft aligncenter alignright alignjustify | ' +
            'bullist numlist outdent indent searchreplace | print preview media fullscreen | forecolor backcolor emoticons',
        language: 'ru',
        setup: function(ed) {
           ed.on('change', function(e) {
               let content = document.getElementById('id_content');
               content.value = ed.getContent();
           });
       }
    }
    if (localStorage.getItem('data-bs-theme') === 'dark') {
        options.skin = 'oxide-dark';
        options.content_css = 'dark';
    }
    options.selector = 'textarea';
    tinyMCE.init(options);
})()

function closePreview() {
    if (this.hasAttribute('data-id')) {
        let fileInput = document.querySelector('.photos input[type="file"]');
        let dt = new ClipboardEvent('').clipboardData || new DataTransfer();
        for (let i = 0; i < fileInput.files.length-1; i++) {
            if (this.dataset.id === i) continue;
            dt.items.add(fileInput.files[i]);
        }
        fileInput.files = dt.files;
    }
    this.closest('.col').remove();
}

</script>
{% endblock %}