{% if action.user %}
<li class="list-group-item">
    <div class="mb-3">
        <p class="m-0 fw-bolder">{{ action.user }}</p>
        <p class="text-muted m-0"><i class="ti ti-calendar"></i> {{ action.created_at }}</p>
    </div>
    {{ action.text|safe }}
</li>
{% else %}
<li class="list-group-item">
    <p class="text-muted"><i class="ti ti-calendar"></i> {{ action.created_at }}</p>
    {% if request.user.is_superuser %}<a href="https://crm.квартиры36.рф/admin/main/comment/{{ action.pk|stringformat:"i" }}/delete/">Удалить</a>{% endif %}
    {{ action.text|safe }}
</li>{% endif %}