{% extends 'base_view.html' %}
{% block container %}
<form class="card" method="POST">
    <div class="card-body">{% csrf_token %}
        <p class="card-text">Чтобы выводить в шаблоне имя менеджера, напишите: <kbd>{% templatetag openvariable %} name {% templatetag closevariable %}</kbd></p>
        <p class="card-text">Чтобы выводить в шаблоне имя клиента, напишите: <kbd>{% templatetag openvariable %} client_name {% templatetag closevariable %}</kbd></p>
        {{ form.as_div }}
    </div>
    <div class="card-footer text-end"><button type="submit" class="btn btn-success">Сохранить</button></div>
</form>
{% endblock %}