{% extends 'base_view.html' %}
{% block container %}
<form class="card mb-3">
    <div class="card-body p-3">
        <div class="row align-items-center mb-3">
            <div class="col">
                <select name="user" class="form-select">
                    <option value="">Все исполнители</option>
                    {% for user in users %}
                        <option value="{{ user.pk }}"{% if request.GET.user|add:"0" == user.pk %} selected{% endif %}>{{ user }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <select name="creator" class="form-select">
                    <option value="">Кто создал</option>
                    {% for user in users %}
                        <option value="{{ user.pk }}"{% if request.GET.creator|add:"0" == user.pk %} selected{% endif %}>{{ user }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <select name="updater" class="form-select">
                    <option value="">Кто обновил</option>
                    {% for user in users %}
                        <option value="{{ user.pk }}"{% if request.GET.updater|add:"0" == user.pk %} selected{% endif %}>{{ user }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col"><input type="date" class="form-control" name="date" value="{{ request.GET.date }}"></div>
            <div class="col-auto">
                <label class="form-check form-switch mb-0">
                    <input class="form-check-input" type="checkbox" name="hide_closed" value="True"{% if 'hide_closed' in request.GET %} checked{% endif %}>
                    <span class="form-check-label">Скрыть закрытые</span>
                </label>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-text"><i class="ti ti-search"></i></div>
                    <input type="text" class="form-control" name="text" placeholder="Совпадения в названии или описании"{% if request.GET.text %} value="{{ request.GET.text }}"{% endif %}>
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary"><i class="ti ti-filter icon"></i>Отфильтровать</button>
            </div>
        </div>
    </div>
</form>
<form class="card" action="{% url 'main:management-change-task-user' %}" method="post">{% csrf_token %}
    <input type="hidden" name="next" value="{% url 'main:management-tasks' %}"/>
    <div class="card-body">
        <div class="input-group">
            <span class="input-group-text">Выберите нового ответственного</span>
            <select name="responsible" class="form-select">
                <option value="" selected>Все ответственные</option>
                {% for user in users %}
                    <option value="{{ user.pk }}">{{ user }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" type="submit">Назначить</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-vcenter table-bordered table-nowrap card-table">
            <thead>
            <tr>
                <th></th>
                <th class="w-1 text-center p-3" rowspan="2">#</th>
                <th class="text-center w-1" rowspan="2">Исполнитель</th>
                <th class="text-center">Название</th>
                <th class="text-center w-1">Крайний срок</th>
                <th class="text-center w-1">Сделка</th>
                <th class="text-center w-1">Контакт</th>
                <th class="text-center w-1">Готово?</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
            <tr class="{{ task.get_card_color }}">
                <td class="w-1 p-2 text-center">
                    <input class="form-check-input" type="checkbox" name="task" value="{{ task.pk|stringformat:'i' }}">
                </td>
                <td class="text-center p-3">{{ task.pk }}</td>
                <td class="text-center text-wrap"><a href="{{ task.get_absolute_url }}">{{ task.user }}</a></td>
                <td class="text-center text-wrap"><a href="{{ task.get_absolute_url }}">{{ task.name }}</a></td>
                <td class="text-center w-1"><a href="{{ task.get_absolute_url }}">{{ task.date_to|default_if_none:"-" }}</a></td>
                <td class="text-center text-wrap">{% if task.deal %}<a href="{{ task.deal.get_absolute_url }}" class="badge bg-azure text-azure-fg">{{ task.deal }}</a>{% else %}-{% endif %}</td>
                <td class="text-center text-wrap">{% if task.lead %}<a href="{{ task.lead.get_absolute_url }}" class="badge bg-cyan text-cyan-fg">{{ task.lead }}</a>{% else %}-{% endif %}</td>
                <td class="text-center w-1">{{ task.is_done|yesno:"+,-"}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'base_pagination.html' %}
</form>
{% endblock %}