{% load tools %}
<form class="card mb-3">
    <div class="card-body p-3">
        <div class="row align-items-center mb-3 mb-lg-0">
            <div class="col-12 col-lg-auto">
                <label for="user" class="form-label">Все ответственные</label>
                {% get_list_request request 'source' as checked_users %}
                <select id="user" name="user" class="form-select" multiple>
                    {% for user in users %}
                        <option value="{{ user.pk }}"{% if user.pk|lower in checked_users or user.pk|lower == request.GET.user %} selected{% endif %}>{{ user }}</option>
                    {% endfor %}
                </select>
                <label for="source" class="form-label mt-3">Источник</label>
                {% get_list_request request 'source' as checked_sources %}
                <select id="source" name="source" class="form-select" multiple>
                    {% for source in sources %}
                        <option value="{{ source.pk }}"{% if source.pk|lower in checked_sources or request.GET.source == source.pk|lower %} selected{% endif %}>{{ source }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                <label for="warm" class="form-label">Теплота</label>
                {% get_list_request request 'warm' as checked_warms %}
                <select id="warm" name="warm" class="form-select" multiple>
                    {% for w in warm %}
                        <option value="{{ w.0 }}"{% if w.0 in checked_warms or w.0 == request.GET.warm %} selected{% endif %}>{{ w.1 }}</option>
                    {% endfor %}
                </select>
                <label for="processed" class="form-label mt-3">Обработка</label>
                {% get_list_request request 'processed' as checked_processed %}
                <select id="processed" name="processed" class="form-select" multiple>
                    {% for p in processed %}
                        <option value="{{ p.0 }}"{% if p.0 in checked_processed or p.0 == request.GET.processed %} selected{% endif %}>{{ p.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-12 col-lg">
                <div class="input-group mb-3">
                    <div class="input-group-text"><i class="ti ti-search"></i></div>
                    <input type="text" class="form-control" name="text" placeholder="Совпадения в фамилии, имени, телефоне, комментарии, партнере или клиенте"{% if request.GET.text %} value="{{ request.GET.text }}"{% endif %}>
                </div>
                <div class="row align-items-center mb-3">
                    <div class="col-12 col-lg mb-3 mb-lg-0">
                        <select name="paytype" class="form-select">
                            <option value="" selected>Способ оплаты</option>
                            {% for p in payment %}
                                <option value="{{ p.0 }}"{% if request.GET.paytype == p.0 %} selected{% endif %}>{{ p.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 col-lg mb-3 mb-lg-0">
                        <select name="from" class="form-select">
                            <option value="" selected>Сделка через</option>
                            {% for f in from %}
                                <option value="{{ f.0 }}"{% if request.GET.from == f.0 %} selected{% endif %}>{{ f.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 col-lg">
                        <select name="stage" class="form-select">
                            <option value="">Все стадии продаж</option>
                            {% for f in funnels %}
                            <optgroup label="{{ f }}">
                                {% for s in f.parent_stages %}
                                {% include 'deal/filter/funnel_stage_option.html' %}
                                {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row align-items-center mb-3">
                    <!-- <div class="col-12 col-lg mb-3 mb-lg-0">
                        <select name="decoration" class="form-select">
                            <option value="" selected>Отделка</option>
                            {% for d in decoration %}
                                <option value="{{ d.0 }}"{% if request.GET.decoration == d.0 %} selected{% endif %}>{{ d.1 }}</option>
                            {% endfor %}
                        </select>
                    </div> -->
                    <div class="col-12 col-lg mb-3 mb-lg-0">
                        <select name="developer" class="form-select">
                            <option value="" selected>Застройщик</option>
                            <option value="Bobrov"{% if request.GET.developer == "Bobrov" %} selected{% endif %}>Бобров</option>
                            <option value="Collection"{% if request.GET.developer == "Collection" %} selected{% endif %}>Коллекция</option>
                            <option value="soy-dom"{% if request.GET.developer == "soy-dom" %} selected{% endif %}>Свой дом</option>
                            <option value="pritazenie"{% if request.GET.developer == "pritazenie" %} selected{% endif %}>Приятжение</option>
                            <!-- {% for d in developer %}
                                <option value="{{ d.0 }}"{% if request.GET.developer == d.0 %} selected{% endif %}>{{ d.1 }}</option>
                            {% endfor %} -->
                        </select>
                    </div>
                    <div class="col-12 col-lg mb-3 mb-lg-0">
                        <select name="marital" class="form-select">
                            <option value="" selected>Семейное положение</option>
                            {% for m in marital %}
                                <option value="{{ m.0 }}"{% if request.GET.marital == m.0 %} selected{% endif %}>{{ m.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 col-lg">
                        <select name="purpose" class="form-select">
                            <option value="" selected>Цель покупки</option>
                            {% for p in purpose %}
                                <option value="{{ p.0 }}"{% if request.GET.purpose == p.0 %} selected{% endif %}>{{ p.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row align-items-center mb-3">
                    <div class="col-12 col-lg mb-3 mb-lg-0">
                        <div class="input-group">
                            <span class="input-group-text">Дата рождения</span>
                            <input type="date" class="form-control" name="birth" value="{{ request.GET.birth }}">
                        </div>
                    </div>
                    <div class="col-12 col-lg mb-3 mb-lg-0">
                        <div class="input-group">
                            <span class="input-group-text">Дата резервирования</span>
                            <input type="date" class="form-control" name="reserved" value="{{ request.GET.reserved }}">
                        </div>
                    </div>
                    <div class="col-12 col-lg mb-3 mb-lg-0">
                        <div class="input-group">
                            <span class="input-group-text">С</span>
                            <input type="date" class="form-control" name="from_in" value="{{ request.GET.from_in }}">
                        </div>
                    </div>
                    <div class="col-12 col-lg">
                        <div class="input-group">
                            <span class="input-group-text">ПО</span>
                            <input type="date" class="form-control" name="to_in" value="{{ request.GET.to_in }}">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-3">
                    <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                        <label class="form-check form-switch mb-0">
                            <input class="form-check-input" type="checkbox" value="true" name="reserve"{% if request.GET.reserve %} checked{% endif %}>
                            <span class="form-check-label">Бронь</span>
                        </label>
                    </div>
                    <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                        <label class="form-check form-switch mb-0">
                            <input class="form-check-input" type="checkbox" value="true" name="spam"{% if request.GET.spam %} checked{% endif %}>
                            <span class="form-check-label">Без спама</span>
                        </label>
                    </div>
                    <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                        <label class="form-check form-switch mb-0">
                            <input class="form-check-input" type="checkbox" value="true" name="no_source"{% if request.GET.no_source %} checked{% endif %}>
                            <span class="form-check-label">Без источников</span>
                        </label>
                    </div>
                    <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                        <label class="form-check form-switch mb-0">
                            <input class="form-check-input" type="checkbox" value="true" name="no_warm"{% if request.GET.no_warm %} checked{% endif %}>
                            <span class="form-check-label">Без теплоты</span>
                        </label>
                    </div>
                    <div class="col-12 col-lg">
                        <label class="form-check form-switch mb-0">
                            <input class="form-check-input" type="checkbox" value="true" name="deferred"{% if request.GET.deferred %} checked{% endif %}>
                            <span class="form-check-label">Отложенный спрос</span>
                        </label>
                    </div>
                    <div class="col-12 col-lg-auto">
                        <button type="submit" class="btn btn-primary"><i class="ti ti-filter icon"></i>Отфильтровать</button>
                        {% if request.user.telegram_id and request.user.is_staff %}
                        <button type="button" id="clients" class="btn btn-rss">
                            <i class="ti ti-checkup-list icon"></i>Выгрузить базу клиентов
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>