{% extends 'base_view.html' %}
{% load statistic %}
{% block container %}
<ul class="nav nav-bordered mb-3">
    {% for f in funnels %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:sources-stats' funnel_id=f.pk %}">{{ f }}</a>
    </li>
    {% endfor %}
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'main:sources-stats-empty' %}">Без воронки</a>
    </li>
</ul>
<div class="card mb-3">
    <form class="card-body" method="get">
        <div class="row">
            <div class="col"><input type="date" name="from" class="form-control" value="{{ from|date:"Y-m-d" }}"></div>
            <div class="col"><input type="date" name="to" class="form-control" value="{{ to|date:"Y-m-d" }}"></div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary btn-icon"><i class="ti ti-refresh icon"></i></button>
            </div>
        </div>
    </form>
</div>
<div class="card">
    <div class="card-body">
        <button class="btn btn-success" type="button" onclick="tableToExcel('deals', 'Сделки', 'Статистика_По_Сделкам.xls')">Скачать</button>
    </div>
    <div id="tab" class="table-responsive">
        <table id="sources" class="table table-vcenter card-table">
            <thead>
            <tr>
                <th class="fw-bolder">Источник</th>
                <th class="text-center fw-bolder">Контакты</th>
                <th class="text-center fw-bolder bg-red text-red-fg" colspan="2">Горячий</th>
                <th class="text-center fw-bolder bg-yellow text-yellow-fg" colspan="2">Теплый</th>
                <th class="text-center fw-bolder bg-azure text-azure-fg" colspan="2">Холодный</th>
                <th class="text-center fw-bolder bg-cyan text-cyan-fg" colspan="2">Не клиент</th>
                <th class="text-center fw-bolder bg-muted text-muted-fg" colspan="2">Не дозвонились</th>
                <th class="text-center fw-bolder bg-black text-white" colspan="2">Не актуально</th>
                <th class="text-center fw-bolder bg-orange text-orange-fg" colspan="2">Без теплоты</th>
            </tr>
            </thead>
            <tbody>
            {% for source in sources %}
            <tr>
                {% source from to None source as s %}
                <td>{{ source }}</td>
                <td class="text-center">{{ s.count }}</td>
                <td class="text-center fw-bolder bg-red-lt">{{ s.count_hot_new }}</td>
                <td class="text-center fw-bolder bg-red-lt">{{ s.count_hot_old }}</td>
                <td class="text-center bg-yellow-lt">{{ s.count_warm_new }}</td>
                <td class="text-center bg-yellow-lt">{{ s.count_warm_old }}</td>
                <td class="text-center bg-azure-lt">{{ s.count_cold_new }}</td>
                <td class="text-center bg-azure-lt">{{ s.count_cold_old }}</td>
                <td class="text-center bg-cyan-lt">{{ s.count_not_client_new }}</td>
                <td class="text-center bg-cyan-lt">{{ s.count_not_client_old }}</td>
                <td class="text-center bg-muted-lt">{{ s.count_not_call_new }}</td>
                <td class="text-center bg-muted-lt">{{ s.count_not_call_old }}</td>
                <td class="text-center">{{ s.count_not_actual_new }}</td>
                <td class="text-center">{{ s.count_not_actual_old }}</td>
                <td class="text-center bg-orange-lt">{{ s.count_none_new }}</td>
                <td class="text-center bg-orange-lt">{{ s.count_none_old }}</td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                {% source from to None None as s %}
                <td class="fw-bolder">Всего</td>
                <td class="text-center fw-bolder">{{ s.count }}</td>
                <td class="text-center fw-bolder bg-red-lt">{{ s.count_hot_new }}</td>
                <td class="text-center fw-bolder bg-red-lt">{{ s.count_hot_old }}</td>
                <td class="text-center fw-bolder bg-yellow-lt">{{ s.count_warm_new }}</td>
                <td class="text-center fw-bolder bg-yellow-lt">{{ s.count_warm_old }}</td>
                <td class="text-center fw-bolder bg-azure-lt">{{ s.count_cold_new }}</td>
                <td class="text-center fw-bolder bg-azure-lt">{{ s.count_cold_old }}</td>
                <td class="text-center fw-bolder bg-cyan-lt">{{ s.count_not_client_new }}</td>
                <td class="text-center fw-bolder bg-cyan-lt">{{ s.count_not_client_old }}</td>
                <td class="text-center fw-bolder bg-muted-lt">{{ s.count_not_call_new }}</td>
                <td class="text-center fw-bolder bg-muted-lt">{{ s.count_not_call_old }}</td>
                <td class="text-center fw-bolder">{{ s.count_not_actual_new }}</td>
                <td class="text-center fw-bolder">{{ s.count_not_actual_old }}</td>
                <td class="text-center fw-bolder bg-orange-lt">{{ s.count_none_new }}</td>
                <td class="text-center fw-bolder bg-orange-lt">{{ s.count_none_old }}</td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="//cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
<script>
    let tableToExcel = (function() {
        let uri = 'data:application/vnd.ms-excel;base64,',
        template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>',
        base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) },
        format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) },
        downloadURI = function(uri, name) {
            let link = document.createElement("a");
            link.download = name;
            link.href = uri;
            link.click();
        }
        return function(table, name, fileName) {
            if (!table.nodeType) table = document.getElementById(table)
            let ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
            let resuri = uri + base64(format(template, ctx))
            downloadURI(resuri, fileName);
        }
    })();
</script>
{% endblock %}