{% extends 'base_view.html' %}
{% load static %}
{% block container %}
<form class="card mb-3">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-text"><i class="ti ti-search"></i></div>
                    <input type="text" class="form-control" name="text" placeholder="Совпадения в фамилии, имени, телефоне"{% if request.GET.text %} value="{{ request.GET.text }}"{% endif %}>
                </div>
            </div>
            <div class="col-auto">
                <label class="form-check form-switch mb-0">
                    <input class="form-check-input" type="checkbox" value="true" name="fired"{% if request.GET.fired %} checked{% endif %}>
                    <span class="form-check-label">Уволен?</span>
                </label>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary"><i class="ti ti-filter icon"></i>Отфильтровать</button>
            </div>
        </div>
    </div>
</form>
<div class="card">
    <div class="table-responsive">
        <table class="table table-vcenter table-bordered table-nowrap card-table">
            <thead>
            <tr class="fw-bolder">
                <th class="w-1 text-center p-2">#</th>
                <th class="text-center w-1 p-2">Email</th>
                <th class="text-center w-1 p-2">ФИО</th>
                <th class="text-center w-1 p-2">Телефон</th>
                <th class="text-center w-1 p-2">SIP</th>
                <th class="text-center w-1 p-2">Роль</th>
                <th class="text-center w-1 p-2">Воронка по умолчанию</th>
                <th class="text-center w-1 p-2">Уволен?</th>
                <th class="text-center w-1 p-2"></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr{% if user.fired %} class="table-danger"{% endif %}>
                <td class="text-center p-2">{{ user.pk }}</td>
                <td class="text-center w-1 p-2">{{ user.email }}</td>
                <td class="text-center p-2">{{ user }}</td>
                <td class="text-center p-2">{{ user.phone }}</td>
                <td class="text-center p-2">{{ user.sip|default_if_none:"-" }}</td>
                <td class="text-center p-2">{{ user.get_role_name }}</td>
                <td class="text-center p-2">{% if user.funnel %}<a href="{% url 'main:funnel-page' funnel_id=user.funnel.pk user_id=user.pk %}">{{ user.funnel }}</a>{% endif %}</td>
                <td class="text-center p-2">{% if user.fired %}<i class="ti ti-check text-success"></i>{% else %}<i class="ti ti-x text-danger"></i>{% endif %}</td>
                <td class="text-center p-2">
                    {% url 'main:user-update' user_id=user.pk as url_form %}
                    {% url 'main:modal-user-update' user_id=user.pk as url_modal %}
                    {% include 'base_link.html' with url=url_form class='btn btn-warning btn-icon' get=url_modal text='<i class="ti ti-pencil icon m-0"></i>' %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'base_pagination.html' %}
</div>
{% endblock %}