<li class="list-group-item">
    <div class="row align-items-center mb-3">
        <div class="col-auto fw-bolder">{{ action.phone }}</div>
        <div class="col-auto text-center px-5">
            {% if action.direction == 'in' %}<i class="ti ti-arrow-big-right-filled icon me-2"></i>Входящий
            {% else %}<i class="ti ti-arrow-big-left-filled icon me-2"></i>Исходящий{% endif %}
            {% if action.status == 'Missed' %}<label class="badge bg-warning-lt">Пропущенный</label>{% endif %}
            {% if action.status == 'Busy' %}<label class="badge bg-danger-lt">Занято</label>{% endif %}
        </div>
        <div class="col-auto fw-bolder">
            {% if action.status == 'Missed' %}CRM{% else %}{{ action.ext }}{% endif %}
            {% if action.user %}<label class="badge bg-blue-lt ms-3">{{ action.user }}</label>{% endif %}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-auto text-muted"><i class="ti ti-calendar-plus icon"></i>{{ action.created_at }}</div>
        <div class="col-auto text-muted"><i class="ti ti-calendar-stats icon"></i>{{ action.updated_at }}</div>
        {% if action.record %}<div class="col text-end"><audio controls src="{{ action.record }}"><a href="{{ action.record }}">Скачать</a></audio></div>{% endif %}
    </div>
</li>