{% extends 'base_view.html' %}
{% block container %}
<form class="row align-items-center mb-3">
    {% if request.user.is_staff %}
    <div class="col-12 col-lg mb-3 mb-lg-0">
        <div class="input-group">
            <label for="user" class="input-group-text">Сотрудник</label>
            <select id="user" name="user" class="form-select">
                <option value="" selected>Все</option>
                {% for user in users %}
                    <option value="{{ user.pk }}"{% if request.GET.user|add:'0' == user.pk %} selected{% endif %}>{{ user }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endif %}
    <div class="col-12 col-lg mb-3 mb-lg-0">
        <div class="input-group">
            <label for="type" class="input-group-text">Тип</label>
            <select name="type" id="type" class="form-select">
                <option value="">Все</option>
                <option value="in"{% if request.GET.type == 'in' %} selected{% endif %}>Входящий</option>
                <option value="out"{% if request.GET.type == 'out' %} selected{% endif %}>Исходящий</option>
            </select>
        </div>
    </div>
    <div class="col-12 col-lg mb-3 mb-lg-0">
        <div class="input-group">
            <label for="date" class="input-group-text">Дата</label>
            <input type="date" id="date" class="form-control" name="date" value="{{ request.GET.date|date:"Y-m-d" }}">
        </div>
    </div>
    <div class="col-12 col-lg-auto">
        <button type="submit" class="btn btn-primary w-100"><i class="ti ti-filter icon"></i>Отфильтровать</button>
    </div>
</form>
<div class="card">
    <div class="table-responsive">
        <table class="table table-vcenter table-bordered table-nowrap card-table">
            <thead>
            <tr>
                <th class="w-1 text-center p-3">#</th>
                <th class="text-center w-1">Номер телефона</th>
                <th class="text-center w-1">Контакт</th>
                <th class="text-center w-1"></th>
                <th class="text-center w-1">Офис</th>
                <th class="text-center w-1">Сотрудник</th>
                <th class="text-center w-1">Статус</th>
                <th class="text-center w-1">Событие</th>
                <th class="text-center w-1">Запись</th>
                <th class="text-center w-1">Дата поступления</th>
            </tr>
            </thead>
            <tbody>
            {% for call in calls %}
            <tr>
                <td class="text-center p-3">
                    {% if not call.processed %}
                        <a href="{% url 'main:call-processed' call_id=call.pk %}" class="btn btn-success btn-sm me-2">
                            <i class="ti ti-check"></i>
                        </a>
                    {% endif %}
                    {{ call.pk }}
                </td>
                <td class="text-center">{{ call.phone }}</td>
                <td class="text-center">
                    {% if call.lead %}<a class="badge bg-primary" href="{{ call.lead.get_absolute_url }}">{{ call.lead }}</a>{% endif %}
                </td>
                <td class="text-center">
                    {% if call.direction == 'out' %}<i class="ti ti-arrow-big-left-filled"></i>{% else %}<i class="ti ti-arrow-big-right-filled"></i>{% endif %}
                </td>
                <td class="text-center">{% if call.status == 'Missed' %}CRM{% else %}{{ call.ext }}{% endif %}</td>
                <td class="text-center">
                    {% if call.user %}<a class="badge bg-primary" href="#">{{ call.user }}</a>{% endif %}
                </td>
                <td class="text-center">{{ call.get_status_text }}</td>
                <td class="text-center">{{ call.get_event_text }}</td>
                <td class="text-center">{% if call.record %}<audio controls src="{{ call.record }}"><a href="{{ call.record }}">Скачать</a></audio>{% else %}-{% endif %}</td>
                <td class="text-center">{{ call.created_at }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'base_pagination.html' %}
</div>
{% endblock %}