{% extends 'base_view.html' %}

{% block container %}
<div class="row">
    <div class="col">
        <p class="border-bottom pb-3 border-primary border-2 fs-3 fw-medium">Консультация</p>
        <div id="consultation" hx-get="{% url 'main:legal-status-ajax' status='consultation' %}" hx-swap="outerHTML" hx-trigger="load"></div>
    </div>
    <div class="col">
        <p class="border-bottom pb-3 border-primary border-2 fs-3 fw-medium">Сбор документов</p>
        <div id="collect_docs" hx-get="{% url 'main:legal-status-ajax' status='collect_docs' %}" hx-swap="outerHTML" hx-trigger="load"></div>
    </div>
    <div class="col">
        <p class="border-bottom pb-3 border-primary border-2 fs-3 fw-medium">Задаток</p>
        <div id="review" hx-get="{% url 'main:legal-status-ajax' status='deposit' %}" hx-swap="outerHTML" hx-trigger="load"></div>
    </div>
    <div class="col">
        <p class="border-bottom pb-3 border-primary border-2 fs-3 fw-medium">Закрытие сделки</p>
        <div id="estate" hx-get="{% url 'main:legal-status-ajax' status='closing_deal' %}" hx-swap="outerHTML" hx-trigger="load"></div>
    </div>
</div>
{% endblock %}