{% extends 'base_view.html' %}
{% load l10n tools statistic %}

{% block container %}
<div class="card mb-3">
    <form class="card-body" method="get">
        <div class="row">
            <div class="col"><input type="date" name="from" class="form-control" value="{{ from|date:"Y-m-d" }}"></div>
            <div class="col"><input type="date" name="to" class="form-control" value="{{ to|date:"Y-m-d" }}"></div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary btn-icon"><i class="ti ti-refresh icon"></i></button>
            </div>
        </div>
    </form>
</div>
<div class="card">
    <div class="card-body">
        <button class="btn btn-success" type="button" onclick="tableToExcel('deals', 'Сделки', 'Статистика_По_Сделкам.xls')">Скачать</button>
    </div>
    <div class="table-responsive">
        <table id="deals" class="table table-vcenter card-table">
            <thead>
            <tr>
                <th class="fw-bolder">Менеджер</th>
                <th class="text-center fw-bolder">Резервы</th>
                <th class="text-center fw-bolder">Продано</th>
                <th class="text-center fw-bolder">Отказ</th>
                <th class="text-center fw-bolder">Сум.резервов</th>
                <th class="text-center fw-bolder">Ср.резервы</th>
                <th class="text-center fw-bolder">Сум.продаж</th>
                <th class="text-center fw-bolder">Ср.продажи</th>
                <th class="text-center fw-bolder">Ср.чек</th>
                <th class="text-center fw-bolder">Ком.агент</th>
                <th class="text-center fw-bolder">Ком.менеджер</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user }}</td>
                    {% deals from to user as deals %}
                    <td class="text-center">{{ deals.reserve_count }} ({% percent deals.reserve_count deals.reserve_all %}%)</td>
                    <td class="text-center">{{ deals.sale_count }} ({% percent deals.sale_count deals.sale_all %}%)</td>
                    {% bad from to user as bad %}
                    <td class="text-center">{{ bad.count }} ({% percent bad.count bad.all %}%)</td>
                    <td class="text-center">{{ deals.reserve_sum|default_if_none:0|floatformat:"-2"|localize }}</td>
                    <td class="text-center">{{ deals.reserve_avg|default_if_none:0|floatformat:"-2"|localize }}</td>
                    <td class="text-center">{{ deals.sale_sum|default_if_none:0|floatformat:"-2"|localize }}</td>
                    <td class="text-center">{{ deals.sale_avg|default_if_none:0|floatformat:"-2"|localize }}</td>
                    <td class="text-center">{{ deals.com_avg|default_if_none:0|floatformat:"-2"|localize }}</td>
                    <td class="text-center">{{ deals.com_sum|default_if_none:0|floatformat:"-2"|localize }}</td>
                    <td class="text-center">{{ deals.com_manager|default_if_none:0|floatformat:"-2"|localize }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td class="fw-bolder">Всего</td>
                {% deals from to as deals %}
                <td class="text-center fw-bolder">{{ deals.reserve_count }} ({% percent deals.reserve_count deals.reserve_all %}%)</td>
                <td class="text-center fw-bolder">{{ deals.sale_count }} ({% percent deals.sale_count deals.sale_all %}%)</td>
                {% bad from to as bad %}
                <td class="text-center fw-bolder">{{ bad.count }} ({% percent bad.count bad.all %}%)</td>
                <td class="text-center fw-bolder">{{ deals.reserve_sum|default_if_none:0|floatformat:"-2"|localize }}</td>
                <td class="text-center fw-bolder">{{ deals.reserve_avg|default_if_none:0|floatformat:"-2"|localize }}</td>
                <td class="text-center fw-bolder">{{ deals.sale_sum|default_if_none:0|floatformat:"-2"|localize }}</td>
                <td class="text-center fw-bolder">{{ deals.sale_avg|default_if_none:0|floatformat:"-2"|localize }}</td>
                <td class="text-center fw-bolder">{{ deals.com_avg|default_if_none:0|floatformat:"-2"|localize }}</td>
                <td class="text-center fw-bolder">{{ deals.com_sum|default_if_none:0|floatformat:"-2"|localize }}</td>
                <td class="text-center fw-bolder">{{ deals.com_manager|default_if_none:0|floatformat:"-2"|localize }}</td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="//cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
<script>
    let tableToExcel = (function() {
        let uri = 'data:application/vnd.ms-excel;base64,',
            template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>',
            base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) },
            format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) },
            downloadURI = function(uri, name) {
                let link = document.createElement("a");
                link.download = name;
                link.href = uri;
                link.click();
            }
        return function(table, name, fileName) {
            if (!table.nodeType) table = document.getElementById(table)
                let ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
            let resuri = uri + base64(format(template, ctx))
            downloadURI(resuri, fileName);
        }
    })();
</script>
{% endblock %}