{% extends 'base_view.html' %}

{% load tools %}

{% block container %}
<div class="card mb-3">
    <form class="card-body" method="get">
        <div class="row align-items-center">
            <div class="col"><input type="date" name="from" class="form-control" value="{{ from }}"></div>
            <div class="col"><input type="date" name="to" class="form-control" value="{{ to }}"></div>
            <div class="col-auto">
                <select class="form-select" name="developer">
                    <option value="">Застройщик</option>
                    {% for d in developers %}{% if d.developer %}
                        <option value="{{ d.developer }}"{% if d.developer == request.GET.developer %} selected{% endif %}>{{ d.developer }}</option>
                    {% endif %}{% endfor %}
                </select>
            </div>
            <div class="col-auto">
                <div class="form-check form-switch m-0">
                    <input class="form-check-input" type="checkbox" role="switch" name="all" value="1" id="switchCheck"{% if all %} checked{% endif %}>
                    <label class="form-check-label" for="switchCheck">Показывать все</label>
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary btn-icon"><i class="ti ti-refresh icon"></i></button>
            </div>
        </div>
    </form>
</div>

<div class="card-tabs">
    <ul class="nav nav-tabs">
        {% from_list as fl %}
        {% for f in fl %}
            <li class="nav-item">
                <a href="{% url 'main:debtor-stats' frm=f.0 %}" class="nav-link{% if f.0 == frm %} active{% endif %}">
                    {{ f.1 }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-success" type="button" onclick="tableToExcel('debtor', 'Дебиторка', 'Дебиторка.xls')">Скачать</button>
        </div>
        <div class="table-responsive">
            <table id="debtor" class="table table-vcenter table-bordered table-nowrap card-table">
                <thead>
                <tr>
                    <th class="text-center w-1">Сделка</th>
                    <th class="text-center w-1">ФИО</th>
                    <th class="text-center w-1">Дата брони</th>
                    <th class="text-center w-1">Дата сделки</th>
                    <th class="text-center">КВ</th>
                    <th class="text-center">Оплатили</th>
                    <th class="text-center w-1">Застройщик</th>
                    <th class="text-center text-wrap w-1">Планируемая дата захода денег</th>
                    <th class="text-center w-1">Менеджер</th>
                    <th class="text-center text-wrap w-1">Когда передан счет</th>
                    <th class="text-center">Комментарий</th>
                </tr>
                </thead>
                <tbody>
                {% for d in deals.0 %}
                <tr{% if d.com_status == 'receive' %} class="bg-success-subtle"{% elif d.com_status == 'wait' %} class="bg-warning-subtle"{% endif %}>
                    <td class="text-center"><a href="{{ d.get_absolute_url }}" class="btn btn-success btn-icon"><i class="ti ti-eye"></i></a></td>
                    <td class="text-center"><a href="{{ d.lead.get_absolute_url }}">{{ d.lead }}</a></td>
                    <td class="text-center">{{ d.reserved|date:"d.m.Y" }}</td>
                    <td class="text-center">{{ d.sell_date|date:"d.m.Y" }}</td>
                    {% if d.com_status == 'receive' %}
                        {% if d.com_paid > 0 %}
                        <td class="text-center">{{ d.money.com_diff|default:"" }}</td><td class="text-center">{{ d.money.paid|default:"" }} ({{ d.money.get_date|date:"d.m.Y" }})</td>
                        {% else %}
                        <td class="text-center"></td><td class="text-center">{{ d.money.agent|default:"" }} ({{ d.money.get_date|date:"d.m.Y" }})</td>
                        {% endif %}
                    {% else %}
                        {% if d.com_paid > 0 %}
                        <td class="text-center">{{ d.money.com_diff|default:"" }}</td><td class="text-center">{{ d.money.paid|default:"" }}</td>
                        {% else %}
                        <td class="text-center">{{ d.money.agent|default:"" }}</td><td class="text-center"></td>
                        {% endif %}
                    {% endif %}
                    <td class="text-center">{{ d.developer|default_if_none:"" }}</td>
                    <td class="text-center">{{ d.money.planned_date|default_if_none:"-" }}</td>
                    <td class="text-center">{{ d.responsible }}</td>
                    <td class="text-center">{{ d.money.bill_date|date:"d.m.Y" }}</td>
                    <td class="text-wrap">{{ d.notes|default_if_none:"" }}</td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td></td><td></td><td></td><td></td>
                    <td class="fw-bolder text-center">{{ deals.1.debt|floatformat:2|default:"" }}</td>
                    <td class="fw-bolder text-center">{{ deals.1.sum|floatformat:2|default:"" }}</td>
                    <td></td><td></td><td></td><td></td><td></td>
                </tr>
                </tfoot>
            </table>
        </div>
        {% include 'base_pagination.html' %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="//cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
<script>
    let tableToExcel = (function() {
        let uri = 'data:application/vnd.ms-excel;base64,',
            template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>',
            base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) },
            format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) },
            downloadURI = function(uri, name) {
                let link = document.createElement("a");
                link.download = name;
                link.href = uri;
                link.click();
            }
        return function(table, name, fileName) {
            if (!table.nodeType) table = document.getElementById(table)
                let ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
            let resuri = uri + base64(format(template, ctx))
            downloadURI(resuri, fileName);
        }
    })();
</script>
{% endblock %}