{% extends 'base_view.html' %}
{% load tools statistic %}

{% block container %}
<div class="card mb-3">
    <form class="card-body" method="get">
        <div class="row">
            <div class="col"><input type="date" name="from" class="form-control" value="{{ from|date:"Y-m-d" }}"></div>
            <div class="col"><input type="date" name="to" class="form-control" value="{{ to|date:"Y-m-d" }}"></div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary btn-icon"><i class="ti ti-refresh icon"></i></button>
            </div>
        </div>
    </form>
</div>
<div class="card-tabs">
    <!-- Cards navigation -->
    <ul class="nav nav-tabs">
        {% for funnel in funnels %}
        <li class="nav-item"><a href="{% url 'main:responsible-stats' funnel_id=funnel.pk %}" class="nav-link{% if funnel.pk == funnel_id %} active{% endif %}">{{ funnel }}</a></li>
        {% endfor %}
    </ul>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-success" type="button" onclick="tableToExcel('managers', 'Сделки', 'Статистика_По_Сделкам.xls')">Скачать</button>
        </div>
        <div class="table-responsive">
            <table id="managers" class="table table-vcenter card-table">
                <thead>
                <tr>
                    <th class="fw-bolder">Менеджер</th>
                    <th class="text-center fw-bolder">Входящие</th>
                    <th class="text-center fw-bolder">Исходящие</th>
                    <th class="text-center fw-bolder">Контакты</th>
                    <th class="text-center fw-bolder">Повторно<br>обработанные<br>контакты</th>
                    {% for stage in stages %}<th class="text-center fw-bolder">{{ stage }}</th>{% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user }}</td>
                        <td class="text-center">{% calls 'in' from to user %}</td>
                        <td class="text-center">{% calls 'out' from to user %}</td>
                        {% contacts from to user as contacts %}
                        <td class="text-center">
                            <a href="{% url 'main:lead-list' %}?user={{ user.pk }}">{{ contacts.new }}</a>
                        </td>
                        <td class="text-center">
                            <a href="{% url 'main:lead-list' %}?user={{ user.pk }}">{{ contacts.old }}</a>
                        </td>
                        {% for stage in stages %}
                            {% stages stage from to user as deals %}
                            <td class="text-center">
                                <a href="{% url 'main:deal-list' %}?responsible={{ user.pk }}&stage={{ stage.pk }}">{{ deals.count }} ({% percent deals.count deals.all %}%)</a>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td class="fw-bolder">Всего</td>
                    <td class="text-center fw-bolder">{% calls 'in' from to %}</td>
                    <td class="text-center fw-bolder">{% calls 'out' from to %}</td>
                    {% contacts from to as contacts %}
                    <td class="text-center fw-bolder">{{ contacts.new }}</td>
                    <td class="text-center fw-bolder">{{ contacts.old }}</td>
                    {% for stage in stages %}
                        {% stages stage from to as deals %}
                        <td class="text-center fw-bolder">{{ deals.count }} ({% percent deals.count deals.all %}%)</td>
                    {% endfor %}
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="//cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
<script>
    let tableToExcel = (function() {
        let uri = 'data:application/vnd.ms-excel;base64,',
            template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>',
            base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) },
            format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) },
            downloadURI = function(uri, name) {
                let link = document.createElement("a");
                link.download = name;
                link.href = uri;
                link.click();
            }
        return function(table, name, fileName) {
            if (!table.nodeType) table = document.getElementById(table)
                let ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
            let resuri = uri + base64(format(template, ctx))
            downloadURI(resuri, fileName);
        }
    })();
</script>
{% endblock %}