{% extends 'base_view.html' %}
{% load stage static %}
{% block page_title %}
<div class="input-group">
    <button class="btn btn-transparent dropdown-toggle w-50" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ funnel }}
    </button>
    <div class="dropdown-menu dropdown-menu-center w-100">
        {% for f in funnels %}
            <a class="dropdown-item{% if funnel.pk == f.pk %} active{% endif %}" href="{% url 'main:funnel-page' funnel_id=f.pk user_id=user.pk %}">{{ f }}</a>
        {% endfor %}
    </div>
    {% if request.user.is_staff %}
        <button class="btn btn-transparent dropdown-toggle w-50" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ user }}
        </button>
        <div class="dropdown-menu dropdown-menu-end">
            {% for u in users %}
                <a class="dropdown-item{% if u.fired %} bg-danger-lt{% endif %}" href="{% url 'main:funnel-page' funnel_id=funnel.pk user_id=u.pk %}">{{ u }}</a>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
{% block container %}
<div class="row flex-lg-nowrap overflow-x-scroll">
    <div class="col-12 col-md-2">
        <p class="border-bottom pb-3 border-primary border-2 fs-3 fw-medium">Неразобранное</p>
        <form class="sortable" action="{% url 'main:ajax-change-stage' funnel_id=funnel.pk stage_id=0 %}" method="post" style="min-height: calc(100% - 58px);">
            {% csrf_token %}
            <button type="submit" class="d-none">Отправить</button>
            {% stage_deals None funnel None as deals %}
            {% include 'funnel/ajax/no_stage.html' with deals=deals.object_list page_obj=deals is_paginated=deals.has_other_pages funnel_id=funnel.pk %}
        </form>
    </div>
    {% for stage in stages %}{% include 'funnel/stage.html' with stage=stage user_id=user.pk %}{% endfor %}
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'libs/sortable/Sortable.min.js' %}"></script>
<script>
    let sortables = document.querySelectorAll(".sortable");
    for (let i = 0; i < sortables.length; i++) {
        sortables[i].addEventListener('submit', (evt) => {
            let xhr = new XMLHttpRequest();
            xhr.open('POST', sortables[i].getAttribute('action'));
            xhr.onreadystatechange = function (response) {};
            xhr.send(new FormData(sortables[i]));
            evt.preventDefault();
        });
        new Sortable(sortables[i], {group: 'stage', animation: 150, sort: false, onAdd: (evt) => {
            evt.to.querySelector('button[type="submit"]').click();
        }});
    }
</script>
{% endblock %}