{% load stage %}
<div class="col-12 col-md-2">
    <p class="border-bottom pb-3 border-primary border-2 d-inline-block w-100">
        <span class="float-start fs-3 fw-medium">{{ stage }}</span>
        {% if request.user.is_staff %}
            <span class="float-end">
                {% url 'main:stage-update' funnel_id=stage.funnel.pk stage_id=stage.pk as url_form %}
                {% url 'main:modal-stage-update' funnel_id=stage.funnel.pk stage_id=stage.pk as url_modal %}
                {% include 'base_link.html' with url=url_form class='btn btn-ghost-warning p-0' get=url_modal text='<i class="ti ti-pencil icon m-0"></i>' %}
                {% url 'main:stage-delete' funnel_id=stage.funnel.pk stage_id=stage.pk as url_form %}
                {% url 'main:modal-stage-delete' funnel_id=stage.funnel.pk stage_id=stage.pk as url_modal %}
                {% include 'base_link.html' with url=url_form class='btn btn-ghost-danger p-0' get=url_modal text='<i class="ti ti-trash icon m-0"></i>' %}
            </span>
        {% endif %}
    </p>
    <form class="sortable" action="{% url 'main:ajax-change-stage' funnel_id=funnel.pk stage_id=stage.pk %}" method="post" style="min-height: calc(100% - 58px);">
        {% csrf_token %}
        <button type="submit" class="d-none">Отправить</button>
        <div id="stage{{ stage.pk }}" hx-get="{% url 'main:ajax-stage-list' funnel_id=stage.funnel.pk stage_id=stage.pk user_id=user.pk %}" hx-swap="outerHTML" hx-trigger="load"></div>
    </form>
</div>
{% if stage.child %}{% include 'funnel/stage.html' with stage=stage.child %}{% endif %}