<form class="card-body" action="{% url 'main:comment-create' type='lead' item_id=lead.id %}" method="post">
    {% csrf_token %}
    <div class="input-group">
        <label class="input-group-text" for="{{ comment_form.text.id_for_label }}">{{ comment_form.text.label }}</label>
        {{ comment_form.text }}
        <button type="submit" class="btn btn-success">Отправить</button>
    </div>
    {% if comment_form.text.help_text %}<div class="form-text">{{ comment_form.text.help_text|safe }}</div>{% endif %}
    {% if comment_form.text.errors %}<div class="invalid-feedback">{{ comment_form.text.errors }}</div>{% endif %}
</form>
<ul class="list-group list-group-flush">
    {% for action in activity %}{% include action.get_card_template with action=action %}
    {% empty %}<li class="list-group-item">Активностей у контакта нет</li>{% endfor %}
</ul>