<ul class="list-group list-group-flush">
    {% for show in lead.showing_set.all %}
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    <a href="{{ show.get_absolute_url }}" target="_blank" class="h3">{{ show.description }}{% if show.is_done %} <span class="badge bg-red text-red-fg text-uppercase">Закрыт</span>{% endif %}</a>
                    {% if show.date_to %}<p class="card-text">{{ show.date_to }}</p>{% endif %}
                </div>
                <div class="col-auto"><span class="badge bg-blue-lt">{{ show.user }}</span></div>
            </div>
        </li>
    {% empty %}<li class="list-group-item">Показов нет</li>{% endfor %}
</ul>