<ul class="list-group list-group-flush">
    {% for task in lead.task_set.all %}
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    <a href="{{ task.get_absolute_url }}" target="_blank" class="h3">{{ task }}{% if task.is_done %} <span class="badge bg-red text-red-fg text-uppercase">Закрыта</span>{% endif %}</a>
                    {% if task.date_to %}<p class="card-text">{{ task.date_to }}</p>{% endif %}
                </div>
                <div class="col-auto"><span class="badge bg-blue-lt">{{ task.user }}</span></div>
            </div>
        </li>
    {% empty %}<li class="list-group-item">Задач нет</li>{% endfor %}
</ul>