{% extends 'base_view.html' %}
{% load task %}
{% block page_title %}
    {% showings user as s %}
    <ul class="nav nav-bordered">
        <li class="nav-item">
            <a class="nav-link{% if 'outdated' in request.path %} active{% endif %}" href="{% url 'main:showing-list-outdated' date_str=current_date %}">Просроченные<span class="badge bg-red text-red-fg ms-2">{{ s.outdated_count }}</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if 'today' in request.path %} active{% endif %}" href="{% url 'main:showing-list-today' date_str=current_date %}">На сегодня<span class="badge bg-green text-green-fg ms-2">{{ s.today_count }}</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if 'tomorrow' in request.path %} active{% endif %}" href="{% url 'main:showing-list-tomorrow' date_str=current_date %}">На завтра<span class="badge bg-orange text-orange-fg ms-2">{{ s.tomorrow_count }}</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if 'other' in request.path %} active{% endif %}" href="{% url 'main:showing-list-other' date_str=current_date %}">Остальные<span class="badge bg-cyan text-cyan-fg ms-2">{{ s.other_count }}</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if 'closed' in request.path %} active{% endif %}" href="{% url 'main:showing-list-closed' date_str=current_date %}">Закрытые</a>
        </li>
    </ul>
{% endblock %}
{% block container %}
<div class="card">
    <div class="table-responsive">
        <table class="table table-vcenter table-bordered table-nowrap card-table">
            <thead>
            <tr>
                <th class="text-center w-1">#</th>
                <th class="text-center">Название</th>
                <th class="text-center w-1"><i class="ti ti-address-book me-2"></i>Контакт</th>
                <th class="text-center w-1"><i class="ti ti-wallet me-2"></i>Сделка</th>
                <th class="text-center w-1"><i class="ti ti-calendar-bolt me-2"></i>Крайний срок</th>
            </tr>
            </thead>
            <tbody>
            {% for showing in showings %}
            <tr>
                <td class="text-center"><a href="{{ showing.get_absolute_url }}">{{ showing.pk }}</a></td>
                <td class="text-center"><a href="{{ showing.get_absolute_url }}">{{ showing }}</a></td>
                <td class="text-center">{% if showing.lead %}<a href="{{ showing.lead.get_absolute_url }}" class="btn btn-light btn-sm bg-blue-lt">{{ showing.lead }}</a>{% else %}&mdash;{% endif %}</td>
                <td class="text-center">{% if showing.deal %}<a href="{{ showing.deal.get_absolute_url }}" class="btn btn-light btn-sm bg-azure-lt">{{ showing.deal }}</a>{% else %}&mdash;{% endif %}</td>
                <td class="text-center">{{ showing.date_to|default:"Не указан" }}</td>
            </tr>
            {% empty %}<tr><td colspan="5" class="text-center">Показов нет</td></tr>{% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'base_pagination.html' %}
</div>
{% endblock %}