{% load static tools %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="shortcut icon" href="{% static 'img/logo.svg' %}" type="image/svg">
    <title>{{ title|safe }} | CRM НВ</title>
    <!-- CSS files -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler-flags.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler-payments.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler-vendors.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'libs/tabler-icons/webfont/tabler-icons.min.css' %}" rel="stylesheet"/>
</head>
<body class="layout-fluid overflow-x-hidden" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<div class="page">
    <header class="navbar navbar-expand-md d-print-none">
        <div class="container-xl">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                <a href="/" class="text-decoration-none">
                    <img src="{% static 'img/logo.svg' %}" alt="CRM НВ" class="navbar-brand-image">
                    <span>Новостройки Voronezh</span>
                </a>
            </h1>
            <div class="navbar-nav flex-row order-md-last">
                <div class="d-none d-md-flex">
                    <a href="?theme=dark" class="nav-link px-0 hide-theme-dark" title="Активировать темную тему" data-bs-toggle="tooltip" data-bs-placement="bottom">
                        <i class="ti ti-moon icon"></i>
                    </a>
                    <a href="?theme=light" class="nav-link px-0 hide-theme-light" title="Активировать светлую тему" data-bs-toggle="tooltip" data-bs-placement="bottom">
                        <i class="ti ti-sun icon"></i>
                    </a>
                    <div class="nav-item dropdown d-none d-md-flex me-2">
                        {% notifications request.user as notifications %}
                        <a href="#notifications" class="nav-link px-0" data-bs-toggle="offcanvas" aria-controls="offcanvasEnd">
                            <i class="ti ti-bell{% if notifications %}-filled text-danger{% endif %} icon"></i>
                            {% if notifications %}<span class="fw-bolder mx-2">{{ notifications|length }}</span>{% endif %}
                        </a>
                    </div>
                    <div class="nav-item dropdown d-none d-md-flex me-2">
                        <a href="#birthdays" class="nav-link px-0" data-bs-toggle="offcanvas" aria-controls="offcanvasEnd">
                            <i class="ti ti-cake icon"></i>
                        </a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown">
                        <div class="d-none d-xl-block">
                            <div>{{ request.user }}</div>
                            <div class="mt-1 small text-secondary">{{ request.user.get_role_name }}</div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <a href="{% url 'main:password_change' %}" class="dropdown-item">Сменить пароль</a>
                        <form action="{% url 'main:logout' %}" method="post">{% csrf_token %}<button type="submit" class="dropdown-item">Выйти</button></form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <header class="navbar-expand-md">
        <div class="collapse navbar-collapse" id="navbar-menu" >
            <div class="navbar">
                <div class="container-xl" >
                    <ul class="navbar-nav">
                        {% now "Y-m-d" as current_date %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="true">
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><i class="ti ti-stack-2"></i></span>
                                <span class="nav-link-title">Задачи и показы</span>
                            </a>
                            <div class="dropdown-menu" data-bs-popper="static">
                                <a class="dropdown-item" href="{% url 'main:task-list-today' date_str=current_date %}">
                                    <i class="ti ti-layout-kanban icon icon-inline me-1"></i> Задачи
                                </a>
                                <a class="dropdown-item" href="{% url 'main:showing-list-today' date_str=current_date %}">
                                    <i class="ti ti-walk icon icon-inline me-1"></i> Показы
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="true">
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><i class="ti ti-currency-rubel"></i></span>
                                <span class="nav-link-title">Контакты и сделки</span>
                            </a>
                            <div class="dropdown-menu" data-bs-popper="static">
                                <a class="dropdown-item" href="{% url 'main:lead-list' %}">
                                    <i class="ti ti-address-book icon icon-inline me-1"></i> Контакты
                                </a>
                                <a class="dropdown-item" href="{% url 'main:deal-list' %}">
                                    <i class="ti ti-wallet icon icon-inline me-1"></i> Сделки
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main:lead-unassembled' %}">
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><i class="ti ti-alert-triangle text-red"></i></span>
                                <span class="nav-link-title">Неразобранные</span>
                                <span class="badge bg-red text-red-fg badge-notification badge-pill">{% unassembled_count %}</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="true">
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><i class="ti ti-phone"></i></span>
                                <span class="nav-link-title">Звонки</span>
                            </a>
                            <div class="dropdown-menu" data-bs-popper="static">
                                <a class="dropdown-item text-red" href="{% url 'main:call-missed' %}">
                                    <i class="ti ti-phone-off icon icon-inline me-1"></i>
                                    Пропущенные<span class="badge bg-red text-red-fg ms-2">{% missed_count %}</span>
                                </a>
                                <a class="dropdown-item" href="{% url 'main:call-all' %}">
                                    <i class="ti ti-phone icon icon-inline me-1"></i>Все
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="true">
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><i class="ti ti-filter"></i></span>
                                <span class="nav-link-title">Воронки</span>
                            </a>
                            <div class="dropdown-menu" data-bs-popper="static">
                                {% if request.user.get_funnel_link %}
                                <a class="dropdown-item" href="{{ request.user.get_funnel_link }}">
                                    <i class="ti ti-filter icon icon-inline me-1"></i> Воронка продаж
                                </a>
                                {% elif request.user.is_staff %}
                                <a class="dropdown-item" href="{% url 'main:funnel-create' %}" data-get="{% url 'main:modal-funnel-create' %}" data-target="#modal" data-swap="innerHtml" onclick="getHtml(this)" data-bs-toggle="modal" data-bs-target="#modal">
                                    <i class="ti ti-filter icon icon-inline me-1"></i> Создать воронку продаж
                                </a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'main:mortgage-list' %}">
                                    <i class="ti ti-moneybag icon icon-inline me-1"></i> Ипотечная воронка
                                </a>
                                <a class="dropdown-item" href="{% url 'main:legal-list' %}">
                                    <i class="ti ti-gavel icon icon-inline me-1"></i> Юридическая воронка
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main:whatsapp-list' %}">
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><i class="ti ti-brand-whatsapp"></i></span>
                                <span class="nav-link-title">Whatsapp</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="true">
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><i class="ti ti-cat"></i></span>
                                <span class="nav-link-title">Агенты</span>
                            </a>
                            <div class="dropdown-menu" data-bs-popper="static">
                                <a class="dropdown-item" href="{% url 'main:partner-list' %}">
                                    <i class="ti ti-paw icon icon-inline me-1"></i> Агенты
                                </a>
                                <a class="dropdown-item" href="{% url 'main:lead-money' %}">
                                    <i class="ti ti-address-book icon icon-inline me-1"></i> Клиенты
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="true">
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><i class="ti ti-building"></i></span>
                                <span class="nav-link-title">Вторичка</span>
                            </a>
                            <div class="dropdown-menu" data-bs-popper="static">
                                <a class="dropdown-item" href="{% url 'main:exclusive-list' %}">
                                    <i class="ti ti-clipboard-list icon icon-inline me-1"></i> Все объекты
                                </a>
                                <div class="dropend">
                                    <a class="dropdown-item dropdown-toggle show" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="true">
                                        <i class="ti ti-playlist-add icon icon-inline me-1"></i> Создать
                                    </a>
                                    <div class="dropdown-menu show" data-bs-popper="static">
                                        <span class="dropdown-header">Коммерция</span>
                                        <a href="{% url 'main:exclusive-create-cl' %}" class="dropdown-item">Аренда</a>
                                        <a href="{% url 'main:exclusive-create-cs' %}" class="dropdown-item">Продажа</a>
                                        <div class="dropdown-divider"></div>
                                        <span class="dropdown-header">Квартиры</span>
                                        <a href="{% url 'main:exclusive-create-fl' %}" class="dropdown-item">Аренда</a>
                                        <a href="{% url 'main:exclusive-create-fsn' %}" class="dropdown-item">Продажа (новых)</a>
                                        <a href="{% url 'main:exclusive-create-fso' %}" class="dropdown-item">Продажа (старых)</a>
                                        <div class="dropdown-divider"></div>
                                        <span class="dropdown-header">Гаражи и машиноместа</span>
                                        <a href="{% url 'main:exclusive-create-gl' %}" class="dropdown-item">Аренда</a>
                                        <a href="{% url 'main:exclusive-create-gs' %}" class="dropdown-item">Продажа</a>
                                        <div class="dropdown-divider"></div>
                                        <span class="dropdown-header">Дома, дачи и коттеджи</span>
                                        <a href="{% url 'main:exclusive-create-hl' %}" class="dropdown-item">Аренда (надолго)</a>
                                        <a href="{% url 'main:exclusive-create-hld' %}" class="dropdown-item">Аренда (посуточно)</a>
                                        <a href="{% url 'main:exclusive-create-hs' %}" class="dropdown-item">Продажа</a>
                                        <div class="dropdown-divider"></div>
                                        <span class="dropdown-header">Земельные участки</span>
                                        <a href="{% url 'main:exclusive-create-ll' %}" class="dropdown-item">Аренда</a>
                                        <a href="{% url 'main:exclusive-create-ls' %}" class="dropdown-item">Продажа</a>
                                        <div class="dropdown-divider"></div>
                                        <span class="dropdown-header">Комнаты</span>
                                        <a href="{% url 'main:exclusive-create-rl' %}" class="dropdown-item">Аренда</a>
                                        <a href="{% url 'main:exclusive-create-rs' %}" class="dropdown-item">Продажа</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% if request.user.is_staff %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="true">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block"><i class="ti ti-tool"></i></span>
                                    <span class="nav-link-title">Администрирование</span>
                                </a>
                                <div class="dropdown-menu" data-bs-popper="static">
                                    <a class="dropdown-item" href="{% url 'main:management-tasks' %}">
                                        <i class="ti ti-layout-kanban icon icon-inline me-1"></i> Задачи
                                    </a>
                                    <a class="dropdown-item" href="{% url 'main:management-showings' %}">
                                        <i class="ti ti-walk icon icon-inline me-1"></i> Показы
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'main:user-list' %}">
                                        <i class="ti ti-skateboarding icon icon-inline me-1"></i> Пользователи
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'main:management-message-list' %}">
                                        <i class="ti ti-template icon icon-inline me-1"></i> Шаблоны сообщений
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'main:management-notifications' %}">
                                        <i class="ti ti-bell icon icon-inline me-1"></i> Уведомелния
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="true">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block"><i class="ti ti-chart-dots"></i></span>
                                    <span class="nav-link-title">Статистика</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" data-bs-popper="static">
                                    <span class="dropdown-header">Общая</span>
                                    <a class="dropdown-item" href="{% url 'main:responsible-stats' funnel_id=1 %}">
                                        Контакты и сделки по ответственному
                                    </a>
                                    <a class="dropdown-item" href="{% url 'main:deals-stats' %}">
                                        Сделки по продавцу
                                    </a>
                                    <a class="dropdown-item" href="{% url 'main:sources-stats' funnel_id=1 %}">
                                        Источники контактов
                                    </a>
                                    {% if request.user.debetor or request.user.is_superuser %}
                                        <span class="dropdown-header">Дебеторка</span>
                                        {% from_list as fl %}
                                        {% for f in fl %}
                                            <a class="dropdown-item" href="{% url 'main:debtor-stats' frm=f.0 %}">
                                                {{ f.1 }}
                                            </a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </li>
                            
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main:residential_complex_list' %}">
                                <!-- <span class="nav-link-icon d-md-none d-lg-inline-block"><i class="ti ti-brand-whatsapp"></i></span> -->
                                <span class="nav-link-title">Шахматка</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col-12 col-lg">{% block page_title %}<h2 class="page-title">{{ title|safe }}</h2>{% endblock %}</div>
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                            {% for link in admin_links %}
                                {% include 'base_link.html' with url=link.url class=link.class get=link.get text=link.text %}
                            {% endfor %}
                            {% block buttons_form %}{% endblock %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="errors">
                        {% for message in messages %}
                            <div class="alert mt-3 alert-{% if message.tags %}{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}{% endif %} alert-dismissible alert-important" role="alert">
                                {{ message|safe }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body"><div class="container-xl">{% block container %}{% endblock %}</div></div>
    </div>
</div>
<div class="modal modal-blur fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Тестовое модальное окно</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"><p>Тестовое модальное окно.</p></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">ОК</button>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas-backdrop d-none"></div>
<div class="offcanvas offcanvas-bottom h-auto" tabindex="-1" id="offcanvasCalls" aria-modal="true" role="dialog">
    <div class="offcanvas-body">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>Входящий звонок</h1>
                </div>
                <div class="col-auto call-name"></div>
                <div class="col-auto">
                    <a href="#" class="btn btn-primary call-link">Карточка звонящего</a>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-danger close">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Уведомления -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="notifications" aria-labelledby="notificationsLabel">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="notificationsLabel">Уведомления</h2>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <script>console.log('{{ notifications }}')</script>
    <div class="offcanvas-body p-0 list-group list-group-flush">
        {% for notify in notifications %}
        <div class="list-group-item">
            <div class="row align-items-center">
                <div class="col-auto"><span class="status-dot{% if notify.priority != 'normal' %} status-dot-animated{% endif %} bg-{{ notify.priority }} d-block"></span></div>
                <div class="col text-truncate">
                    {% with obj=notify.get_obj %}
                    <div class="row align-items-center">
                        <div class="col">{{ notify.get_type }}: {{ obj }}</div>
                        <div class="col-auto">
                            <form action="{% url 'main:notify-delete' notify_id=notify.pk %}" method="post">{% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="{{ obj.get_absolute_url }}">Перейти</a>
                                    <button type="submit" class="btn btn-danger"><i class="ti ti-trash"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% endwith %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Дни рождения -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="birthdays" aria-labelledby="birtdaysLabel">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="birthdaysLabel">Дни рождения в этом месяце</h2>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-0 list-group list-group-flush">
        {% birthdays as birth_users %}
        {% for u in birth_users %}
        <div class="list-group-item">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">{{ u }}</div>
                <div class="col-auto text-muted">{{ u.birth|date:"m.d" }}</div>
            </div>
        </div>
        {% empty %}<div class="list-group-item">Именинники отсутствуют</div>{% endfor %}
    </div>
</div>
<!-- Tabler Core -->
<script src="{% static 'libs/htmx/htmx.min.js' %}" defer></script>
<script src="{% static 'js/tabler.min.js' %}" defer></script>
<script src="{% static 'js/theme.min.js' %}"></script>
{% if request.user.sip %}<script src="{% static 'js/websocket.js' %}"></script>{% endif %}
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/phone.mask.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>