{% load tools %}
{% if is_paginated %}
<div class="card-footer p-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center m-0">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?{% fix_page_request request.GET %}page=1"><i class="ti ti-chevron-left-pipe icon"></i> Первая</a></li>
                {% if page_obj.previous_page_number != 1 %}
                    <li class="page-item"><a class="page-link" href="?{% fix_page_request request.GET %}page={{ page_obj.previous_page_number|stringformat:"i" }}"><i class="ti ti-chevron-left icon"></i> Предыдущая</a></li>
                {% endif %}
            {% endif %}
            <li class="page-item"><span class="page-link">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span></li>
            {% if page_obj.has_next %}
                {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                    <li class="page-item"><a class="page-link" href="?{% fix_page_request request.GET %}page={{ page_obj.next_page_number|stringformat:"i" }}">Следующая <i class="ti ti-chevron-right icon"></i></a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="?{% fix_page_request request.GET %}page={{ page_obj.paginator.num_pages|stringformat:"i" }}">Последняя <i class="ti ti-chevron-right-pipe icon"></i></a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}